@{
	var blogs = ViewData["blogs"] as List<Blog>;
	var firstBlog = blogs?.FirstOrDefault();
	var last4Blogs = blogs?.Skip(Math.Max(0, blogs.Count - 4)).ToList();
}

@if (blogs != null)
{
	<div class="main bg-light-grey min-vh-main">
		<div class="icontainer">
			<section class="ipy-16 ipt-xl-20 ipb-xl-25">
				<div class="row">
					<div class="d-flex justify-content-center justify-content-xl-between">
						<div class="h1 text-center text-xl-start imb-8">Bài viết nổi bật</div>
						<a class="d-none d-xl-flex hyperlink align-items-center imb-8">
							Xem tất cả
							<i class="feather-icon icon-md" data-feather="chevron-right"></i>

						</a>
					</div>
					<div class="col-12 col-xl-6">
						<div class="position-relative">
							<div class="swiper irounded-xl swiper-initialized swiper-horizontal swiper-pointer-events" data-blogs-slider-target="swiperContainer">
								<div class="card blog-card">
									<a target="_blank" class="sponsor-blog-image-container">
										<img class=" ls-is-cached lazyloaded" src="@firstBlog.ThumbnailUrl" />
									</a>
									<div class="card-body blog-card-title p-0 imt-3">
										<h2 class="card-title text-start im-xl-3">
											<a class="text-rich-grey" target="_blank" href="https://itviec.com/blog/moi-truong-lam-viec-mb/?utm_source=itviec.com&amp;utm_medium=footer&amp;utm_campaign=featuredpost%20?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">@firstBlog.Title</a>
										</h2>
										<p class="card-text im-xl-3 imb-5 paragraph text-start text-rich-grey opacity-75 text-clamp-3">
											@firstBlog.Description
										</p>
									</div>
									<div class="card-body blog-card-link d-none d-xl-flex align-items-end">
										<a>
											<div class="hyperlink d-flex align-items-center">
												Bắt đầu đọc
												<i class="feather-icon icon-md" data-feather="chevron-right"></i>
											</div>
										</a>
									</div>
								</div>
							</div>
							<div class="swiper-pagination-blog text-center imb-4 imb-xl-0 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
								<span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span>
							</div>
						</div>

					</div>
					<div class="col-12 col-xl-6 blog-others">
						<div class="row blog-other im-0">

							@foreach (var blog in last4Blogs)
							{
								<div class="col-12 col-xl-6 blog-item imb-xl-7">
									<div class="card blog-card ip-xl-0 ipy-4">
										<a target="_blank" asp-action="Detail" asp-controller="Blog" asp-route-slug="@blog.Slug" asp-route-category="@blog.Category.Slug">
											<img class="w-100 blog-card-image lazyloaded" src="@blog.ThumbnailUrl" />
										</a>
										<div class="card-body blog-card-title ip-0 imt-0 text-start">
											<h2 class="card-title normal-text im-xl-4 imb-0">
												<a class="text-rich-grey text-clamp-2" target="_blank" asp-action="Detail" asp-controller="Blog" asp-route-slug="@blog.Slug" asp-route-category="@blog.Category.Slug">@blog.Title</a>
											</h2>
										</div>
										<div class="card-body blog-card-link d-none d-xl-flex align-items-end ipy-xl-0 ipx-xl-4 imb-xl-6">
											<a class="hyperlink" target="_blank" asp-action="Detail" asp-controller="Blog" asp-route-slug="@blog.Slug" asp-route-category="@blog.Category.Slug">Bắt đầu đọc</a>
											<span class="d-flex align-items-center hyperlink">
												<i class="feather-icon icon-md" data-feather="chevron-right"></i>
											</span>
										</div>
									</div>
								</div>

							}

						</div>

					</div>
					<a class="d-flex d-xl-none justify-content-center align-items-center hyperlink imt-3 imb-6" asp-action="Index" asp-controller="Blog" asp-area="User/Blogs">
						Xem tất cả
						<i class="feather-icon icon-md" data-feather="chevron-right"></i>
					</a>
				</div>
			</section>

		</div>
	</div>
}
