@using RecruitmentApp.DTOs
@using RecruitmentApp.ModelViews
@using RecruitmentApp.Services

@model FilterViewModel
@* @inject HeaderService headerService; *@
@{
	// var industries = ViewData["industries"] as List<Industry>;
	// var levels = headerService.GetMenuLevels();
	// Dictionary<string, string> workingTypes = new Dictionary<string, string>
	// 	{
	// 		{ "onsite", "Tại văn phòng" },
	// 		{ "remote", "Làm từ xa" },
	// 		{ "hybrid", "Linh hoạt" }
	// 	};

	// Dictionary<string, string> companyTypes = new Dictionary<string, string>
	// 	{
	// 		{ "Outsourcing", "Thuê ngoài" },
	// 		{ "Product", "Sản phẩm" },
	// 		{ "Headhunt", "Tuyển dụng nhân sự cao cấp" },
	// 		{ "Service", "Dịch vụ và Tư vấn giải pháp" },
	// 		{ "Non-IT", "Không thuộc lĩnh vực IT" }
	// 	};

	var salaryOptions = new List<SalaryOption>
			{
				new SalaryOption { Id = "salary_option_all", Value = "all", Text = "Tất cả" },
				new SalaryOption { Id = "salary_option_under_10", Value = "under-10", Text = "Dưới 10 triệu" },
				new SalaryOption { Id = "salary_option_10_15", Value = "10-15", Text = "10 - 15 triệu" },
				new SalaryOption { Id = "salary_option_15_20", Value = "15-20", Text = "15 - 20 triệu" },
				new SalaryOption { Id = "salary_option_20_25", Value = "20-25", Text = "20 - 25 triệu" },
				new SalaryOption { Id = "salary_option_25_30", Value = "25-30", Text = "25 - 30 triệu" },
				new SalaryOption { Id = "salary_option_30_50", Value = "30-50", Text = "30 - 50 triệu" },
				new SalaryOption { Id = "salary_option_above_50", Value = "above-50", Text = "Trên 50 triệu" },
				new SalaryOption { Id = "salary_option_agree", Value = "agree", Text = "Thỏa thuận" }
			};
}

<div class="bg-it-white box-shadow-normal irounded-lg ip-4 imy-4 d-none d-xl-flex align-items-center justify-content-center filter-wrapper">
	<div class="flex-1">
		<form class="d-flex align-items-center igap-2" action="/viec-lam-it" accept-charset="UTF-8" method="get">
			<section class="inlineJobLevel">
				<div class="job-level dropdown">
					<div class="itag itag-lg itag-light dropdown-model" id="dropdown-job-level">
						<span class="labelText">
							Cấp bậc
						</span>
						<span class="d-flex align-items-center chevronDownIcon">
							<i class="feather-icon icon-md" data-feather="chevron-down"></i>
						</span>
						<span class="d-flex align-items-center clearIcon d-none">
							<i class="feather-icon icon-md" data-feather="x"></i>
						</span>
					</div>
					<div class="dropdown-menu mw-320 ipx-4 ipt-1 ipb-4 irounded-lg box-shadow-medium">
						@foreach (var level in Model.Levels)
						{
							<label class="icheckbox imt-3 d-block">
								<input name="job_level_names[]" type="checkbox" value="@level.LevelId" />
								<span>@level.Name</span>
							</label>
						}
					</div>
				</div>
			</section>
			<section class="inlineWorking">
				<div class="working-model dropdown" style="min-height: auto;">
					<div aria-expanded="false" class="itag itag-lg itag-light dropdown-model"
					id="dropdown-working-model">
						<span class="labelText">
							Hình thức làm việc
						</span>
						<span class="d-flex align-items-center chevronDownIcon">
							<i class="feather-icon icon-md" data-feather="chevron-down"></i>
						</span>
						<span class="d-flex align-items-center clearIcon d-none">
							<i class="feather-icon icon-md" data-feather="x"></i>

						</span>
					</div>
					@{

					}
					<div class="dropdown-menu mw-320 ipx-4 ipt-1 ipb-4 irounded-lg box-shadow-medium dropDownMenu" style="max-height: none;">
						@foreach (var item in Model.WorkTypes)
						{
							<label class="icheckbox imt-3 d-block">
								<input name="working_models[]" type="checkbox" value="@item.WorkTypeId" />
								<span>@item.Name</span>
							</label>
						}
					</div>
				</div>
			</section>
			<section class="inlineSalary">
				<div class="salary dropdown">
					<div class="itag itag-lg itag-light dropdown-model" id="dropdown-salary">
						<span class="labelText">Mức lương</span>
						<span class="d-flex align-items-center chevronDownIcon">
							<i class="feather-icon icon-md" data-feather="chevron-down"></i>
						</span>
						<span class="d-flex align-items-center clearIcon d-none">
							<i class="feather-icon icon-md" data-feather="x"></i>
					</div>
					<div class="dropdown-menu mw-320 ipx-4 ipt-1 ipb-4 irounded-lg box-shadow-medium dropDownMenu" style="max-height: none;">

						@foreach (var salary in salaryOptions)
						{
							<div class="imy-3">
								<div class="form-check imb-3">
									<input checked class="form-check-input" type="radio" name="salaryOption" id="@salary.Id" value="@salary.Value">
									<label class="form-check-label" for="@salary.Id">
										@salary.Text
									</label>
								</div>
							</div>
							
						}
						<div class="imy-3">
							<div class="d-flex align-items-center gap-2">
								<input type="number" class="form-control form-control-sm" placeholder="Từ" min="0" max="9999" id="salary-min" />
								<span>-</span>
								<input type="number" class="form-control form-control-sm" placeholder="Đến" min="0" max="9999" id="salary-max" />
								<span class="ms-1">triệu</span>
							</div>
						</div>
						<!-- Nút áp dụng -->
						<div class="ibtn ibtn-sm ibtn-secondary w-100 imt-4 cursor-pointer">
							Áp dụng
						</div>
					</div>
				</div>
			</section>
			<section class="inlineIndustry">
				<div class="industry dropdown">
					<div aria-expanded="false" class="itag itag-lg itag-light dropdown-model" id="dropdown-industry">
						<span class="labelText">
							Lĩnh vực
						</span>
						<span class="d-flex align-items-center chevronDownIcon">
							<i class="feather-icon icon-md" data-feather="chevron-down"></i>

						</span>
						<span class="d-flex align-items-center clearIcon d-none">
							<i class="feather-icon icon-md" data-feather="x"></i>

						</span>
					</div>
					<div aria-labelledby="dropdown-industry"
						 class="dropdown-menu ipy-0 mw-320 irounded-lg box-shadow-medium dropDownMenu">
						<div class="ipx-4 ipt-4 ipb-1">
							<input type="text" name="" id="" value="" class="form-control industry-search" placeholder="Tìm kiếm lĩnh vực" />
						</div>
						<div class="imt-1 ips-4 imb-4 ime-4 filter-scrollbar overflow-auto items mh-200">

							@foreach (var industry in Model.Industries)
							{
								<label class="icheckbox d-block imt-3">
									<input name="company_industry_ids[]" type="checkbox" value="@industry.IndustryId" />
									<span>@industry.Name</span>
								</label>
							}

							<p class="text-dark-grey d-none imt-4 noResult">
								Không tìm thấy kết quả
							</p>
						</div>
					</div>
				</div>
			</section>
			<section></section>
			<section class="clear-inline-filter clearInlineFilter d-none">
				<span class="text-rich-grey text-clear-underline ips-2 clearAll">Xoá</span>
			</section>
		</form>
	</div>
	<div class="justify-content-end subscription-filter-btn-wrapper">
		<button class="position-relative button-filter w-100 bg-it-white irounded-sm border-dark-grey d-flex align-items-center text-it-black"
				data-toggle="modal" data-target="#filterModal"
				type="button">
			<i class="feather-icon icon-md" data-feather="filter"></i>
			<span class="ips-1 normal-text">Bộ lọc</span>
			<span class="ilabel-warning position-absolute small-text text-it-white filter-number"></span>
		</button>
	</div>
</div>

<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable mw-800">
		<div class="modal-content">
			<div class="modal-header p-0 ipx-8 ipy-4">
				<h2>Bộ lọc</h2>
				<button aria-label="Close" data-dismiss="modal" class="btn-close text-dark-grey" type="button"></button>
			</div>
			<div class="modal-body p-0 ipx-8 ipb-8">
				<form action="/viec-lam-it" accept-charset="UTF-8" method="get">
					<section class="modalJobLevel">
						<div class="ipt-8">
							<h4 class="text-it-black text-start imb-3 lh-1">
								Cấp bậc
							</h4>
							<div class="d-block text-start">
								@foreach (var level in Model.Levels)
								{
									<label class="itag itag-lg itag-light imy-2 ime-2 normal-text job-level-modal"
										   for="job_level_names_@level.Name">
										<input class="btn-check" id="job_level_names_@level.Name" name="job_level_names[]"
											   type="checkbox" value="@level.LevelId" />
										<span>@level.Name</span>
										<span class="d-flex align-items-center plus-icon">
											<i class="feather-icon icon-md text-dark-grey" data-feather="plus"></i>
										</span>
										<span class="d-flex align-items-center check-icon d-none">
											<i class="feather-icon icon-md" data-feather="check"></i>
										</span>
									</label>
								}
							</div>
						</div>
					</section>
					<section class="modalWorkingModel">
						<div class="ipt-8">
							<h4 class="text-it-black text-start imb-3 lh-1">
								Hình thức làm việc
							</h4>
							<div class="d-block text-start">

								@foreach (var item in Model.WorkTypes)
								{
									<label class="itag itag-lg itag-light imy-2 ime-2 normal-text job-working" for="@item.WorkTypeId">
										<input class="btn-check" id="@item.WorkTypeId" name="working_models[]" type="checkbox" value="@item.WorkTypeId" />
										<span>@item.Name</span>
										<span class="d-flex align-items-center plus-icon">
											<i class="feather-icon icon-md text-dark-grey" data-feather="plus"></i>
										</span>
										<span class="d-flex align-items-center check-icon d-none">
											<i class="feather-icon icon-md" data-feather="check"></i>
										</span>
									</label>
								}

							</div>
						</div>
					</section>
					<section class="modalSalary salary">
						<div class="ipt-8">
							<h4 class="text-it-black text-start imb-3 lh-1">
								Mức lương
							</h4>
							<div class="d-block text-start">

								@foreach (var salary in salaryOptions)
								{
									<label for="modal_@salary.Id" class="itag itag-lg itag-light imy-2 ime-2 normal-text job-level-modal input-checkbox-unchecked">
										<input id="modal_@salary.Id" value="@salary.Value" name="salary" class="btn-check" type="radio" />
										<span>@salary.Text</span>
									</label>
								}
							</div>
							<div class="imy-3">
								<div class="d-flex align-items-center justify-content-start gap-2">
									<input type="number" class="form-control" placeholder="Từ" min="0" max="9999" id="salary-min" />
									<span>-</span>
									<input type="number" class="form-control" placeholder="Đến" min="0" max="9999" id="salary-max" />
									<span class="ms-1">triệu</span>
								</div>
								
							</div>
						</div>
					</section>
					<section class="modalIndustry industry">
						<div class="ipt-8">
							<h4 class="text-it-black text-start imb-3 lh-1">
								Lĩnh vực
							</h4>
							<div class="d-block text-start job-filter-selection">
								<input type="text" name="" id="" class="form-control" placeholder="Tìm kiếm lĩnh vực" />
								<div class="district-list border-solid bg-it-white irounded-sm imt-1 ipx-4 ipb-4 ipt-1 mh-200 filter-scrollbar overflow-auto items">
									@foreach (var industry in Model.Industries)
									{
										<label class="icheckbox d-block imt-3">
											<input name="company_industry_ids[]" type="checkbox"
												   value="@industry.IndustryId" />
											<span>@industry.Name</span>
										</label>

									}
									<p class="text-dark-grey d-none imt-4 noResult">
										Không tìm thấy kết quả
									</p>
								</div>
							</div>
						</div>
					</section>
					<section class="modalCompanyType">
						<div class="ipt-8">
							<h4 class="text-it-black text-start imb-3 lh-1">
								Loại công ty
							</h4>
							<div class="d-block text-start">
								@foreach (var item in Model.CompanyTypes)
								{
									<label class="itag itag-lg itag-light imy-2 ime-2 normal-text"
										   for="company_types_@item.CompanyTypeId">
										<input class="btn-check" id="company_types_@item.CompanyTypeId" name="company_types[]"
											   type="checkbox" value="@item.CompanyTypeId" />
										<span>@item.Name</span>
										<span class="d-flex align-items-center plus-icon">
											<i class="feather-icon icon-md text-dark-grey" data-feather="plus"></i>
										</span>
										<span class="d-flex align-items-center check-icon d-none">
											<i class="feather-icon icon-md" data-feather="check"></i>
										</span>
									</label>
								}
							</div>
						</div>
					</section>
				</form>
			</div>
			<div class="modal-footer d-flex justify-content-between align-items-center ip-0 ipx-8 ipy-4 border-top-solid">
				<span class="flex-grow-1 flex-md-grow-0 hyperlink normal-text btnReset">
					Xoá bộ lọc
					<span></span>
				</span>
				<button class="ibtn ibtn-md ibtn-primary flex-grow-1 flex-md-grow-0 btnSubmitModel" type="submit">
					Áp dụng
				</button>
			</div>
		</div>
	</div>
</div>
