@using Microsoft.AspNetCore.Identity
@using RecruitmentApp.ModelViews
@using RecruitmentApp.Models
@using RecruitmentApp.Services
@using RecruitmentApp.Utilities

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject HeaderService headerService
@inject IViewLocalizer Localizer

@{
    // List<string> jobCategories = new List<string>
    //     {
    //         "Java", "PHP", "JavaScript", "HTML5", "Manager", "SQL", "Android", "iOS",
    //         "MySQL", "Tester", "English", "Ruby", "Python", "Mobile Apps", "Ruby on Rails", "QA QC",
    //         "Database", ".NET", "Business Analyst", "Linux", "Team Leader", "NodeJS", "System Engineer", "Designer",
    //         "UI-UX", "Project Manager", "OOP", "Oracle", "MVC", "ReactJS", "Embedded", "J2EE"
    //     };


    // List<string> titleCategories = new List<string>
    // {   "Java Developer", "PHP Developer", "Javascript Developer", "HTML5 Developer", "SQL Developer", "Android Developer", "iOS Developer", "Tester",
    //     "Ruby Developer", "Python Developer", "Ruby On Rails Developer", ".NET Developer", "NodeJS Developer", "Linux Developer", "OOP Developer", "Oracle Developer",
    //     "C++ Developer", "Wordpress Developer", "Designer", "Database Administrator", "Mobile Apps Developer", "Project Manager", "Product Owner", "Bridge Engineer"
    // };
    var companies = headerService.GetMenuCompanies();
    var titles = headerService.GetMenuTitles();
    var skills = headerService.GetMenuSkills();
    var provinces = headerService.GetMenuProvinces();


    var splitSkills = ListFormatter.SplitList<SkillDto>(skills, 8);
    var splitTitles = ListFormatter.SplitList<TitleDto>(titles, 8);
    var splitCompanies = ListFormatter.SplitList<CompanyDto>(companies, 8);

    var user = UserManager.GetUserAsync(User).Result;

}

<header class="header">
    <div class="d-none d-xl-block">
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container icontainer-header">
                <div class="nav-brand ime-8">
                    <a asp-area="User/Home" asp-controller="Home" asp-action="Index">
                        @* <img class="logo-itviec" alt="logo"  src="~/images/logo.png" /> *@
                        <img class="logo-itviec" alt="logo" src="~/images/logo-light.png" />
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav me-auto igap-2 align-items-center">
                        <li class="nav-item main-menu position-relative">
                            <a class="text-reset d-flex align-items-center ipx-2">
                                @Localizer["AllJobs"]
                                <i class="feather-icon icon-md" data-feather="chevron-down"></i>
                            </a>
                            <div class="position-absolute top-100 bg-it-black text-white shadow sub-menu">
                                <ul class="ip-0 im-0 bg-it-black  position-relative">
                                    <li class="menu-title" data-sub-menu-target="menu">
                                        <a class="text-dark-grey"
                                        href="/jobs-skill-index?gclid=CjwKCAiAhP67BhAVEiwA2E_9gxgSQaORO_gChtgvCfPmcYxR-DLXjmRK9Dy15LQXuYCmj61Ubb61pRoC2qwQAvD_BwE&amp;utm_campaign=gsn_brand_dn&amp;utm_content=itviec&amp;utm_medium=cpc&amp;utm_source=google&amp;utm_term=itviec">
                                            <div
                                            class="category ipx-4 d-flex align-items-center justify-content-between small-text">
                                                <span>Jobs by Skill</span>
                                                <i class="feather-icon icon-md" data-feather="chevron-right"></i>

                                            </div>
                                        </a>
                                        <div class="menu-content shadow bg-it-black small-text position-absolute">
                                            <div class="row g-1">
                                                @foreach (var categoryGroup in splitSkills)
                                                {
                                                    <div class="col d-flex flex-column">
                                                        @foreach (var category in categoryGroup)
                                                        {
                                                            <a class="category-item ips-3" href="/it-jobs/@category.Slug">@category.Name</a>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                            <div class="text-center text-decoration-underline view-all">
                                                <a
                                                class="text-dark-grey align-items-center d-inline-flex w-100 justify-content-center"
                                                href="/jobs-skill-index?gclid=CjwKCAiAhP67BhAVEiwA2E_9gxgSQaORO_gChtgvCfPmcYxR-DLXjmRK9Dy15LQXuYCmj61Ubb61pRoC2qwQAvD_BwE&amp;utm_campaign=gsn_brand_dn&amp;utm_content=itviec&amp;utm_medium=cpc&amp;utm_source=google&amp;utm_term=itviec">
                                                    View all Jobs by skill
                                                    <i class="feather-icon icon-md" data-feather="chevron-right"></i>

                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-title" data-sub-menu-target="menu">
                                        <a class="text-dark-grey"
                                        href="/jobs-title-index?gclid=CjwKCAiAhP67BhAVEiwA2E_9gxgSQaORO_gChtgvCfPmcYxR-DLXjmRK9Dy15LQXuYCmj61Ubb61pRoC2qwQAvD_BwE&amp;utm_campaign=gsn_brand_dn&amp;utm_content=itviec&amp;utm_medium=cpc&amp;utm_source=google&amp;utm_term=itviec">
                                            <div
                                            class="category ipx-4 d-flex align-items-center justify-content-between small-text">
                                                <span>Jobs by Title</span>
                                                <i class="feather-icon icon-md" data-feather="chevron-right"></i>
                                            </div>
                                        </a>
                                        <div class="menu-content shadow bg-it-black small-text position-absolute">
                                            <div class="row g-1">
                                                @foreach (var titleGroup in splitTitles)
                                                {
                                                    <div class="col d-flex flex-column">
                                                        @foreach (var title in titleGroup)
                                                        {
                                                            <a class="category-item ips-3" asp-area="User/Titles" asp-controller="Title" asp-action="Detail" asp-route-slug="@title.Slug">@title.Name</a>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                            <div class="text-center view-all">
                                                <a
                                                class="text-dark-grey align-items-center d-inline-flex w-100 justify-content-center" asp-area="User/Companies" asp-controller="Title" asp-action="Detail">
                                                    View all Jobs by title
                                                    <i class="feather-icon icon-md" data-feather="chevron-right"></i>

                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-title" data-sub-menu-target="menu">
                                        <a class="text-dark-grey"

                                        href="/jobs-company-index?gclid=CjwKCAiAhP67BhAVEiwA2E_9gxgSQaORO_gChtgvCfPmcYxR-DLXjmRK9Dy15LQXuYCmj61Ubb61pRoC2qwQAvD_BwE&amp;utm_campaign=gsn_brand_dn&amp;utm_content=itviec&amp;utm_medium=cpc&amp;utm_source=google&amp;utm_term=itviec">
                                            <div
                                            class="category ipx-4 d-flex align-items-center justify-content-between small-text">
                                                <span>Jobs by Company</span>
                                                <i class="feather-icon icon-md" data-feather="chevron-right"></i>
                                            </div>
                                        </a>
                                        <div class="menu-content shadow bg-it-black small-text position-absolute">
                                            <div class="row g-1">
                                                @foreach (var companyGroup in splitCompanies)
                                                {
                                                    <div class="col d-flex flex-column">
                                                        @foreach (var company in companyGroup)
                                                        {
                                                            <a class="category-item ips-3" href="/companies/@company.Slug">@company.Name</a>
                                                        }
                                                    </div>
                                                }
                                                <div class="text-center text-decoration-underline view-all">
                                                    <a asp-area="User/Companies" asp-controller="Title" asp-action="Detail"
                                                    class="text-dark-grey align-items-center d-inline-flex w-100 justify-content-center">
                                                        View all Jobs by company
                                                        <i class="feather-icon icon-md" data-feather="chevron-right"></i>

                                                    </a>
                                                </div>
                                            </div>
                                    </li>
                                    <li class="menu-title" data-sub-menu-target="menu">
                                        <div
                                        class="category text-dark-grey ipx-4 d-flex align-items-center justify-content-between small-text">
                                            <span>Jobs by City</span>
                                            <i class="feather-icon icon-md" data-feather="chevron-right"></i>
                                        </div>
                                        <div class="menu-content shadow bg-it-black small-text position-absolute">
                                            <div class="row g-1">
                                                <div class="col d-flex flex-column">
                                                    @foreach (var province in provinces)
                                                    { 
                                                        <a class="category-item ips-3" asp-area="User/Provinces" asp-controller="Province" asp-action="Detail">
                                                            @province.Name
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item main-menu position-relative">
                            <div class="d-flex align-items-center ipx-2 text-reset">
                                @Localizer["ITCompanies"]
                                <i class="feather-icon icon-md" data-feather="chevron-down"></i>
                            </div>
                            <div class="position-absolute shadow top-100 bg-it-black sub-menu vbit-menu">
                                <ul class="ip-0 im-0 bg-it-black position-relative">
                                    <li class="menu-title ipx-4 small-text category">
                                        <a rel="canonical" class="d-block text-it-white"
                                            href="/companies/review-company?gclid=CjwKCAiAhP67BhAVEiwA2E_9gxgSQaORO_gChtgvCfPmcYxR-DLXjmRK9Dy15LQXuYCmj61Ubb61pRoC2qwQAvD_BwE&amp;utm_campaign=gsn_brand_dn&amp;utm_content=itviec&amp;utm_medium=cpc&amp;utm_source=google&amp;utm_term=itviec">
                                            Company Reviews
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                       
                    </ul>
                    <ul class="navbar-nav ms-auto igap-6 align-items-center">
                        <ul class="ips-3 ipy-5 menu-item header-nav navbar-nav align-items-xl-center">
                            <li>
                                <a class="text-hover-underline text-it-white"
                                    rel="canonical" target="_blank"
                                    href="/employer">
                                    @Localizer["ForEmployers"]
                                </a>
                            </li>
                        </ul>
					
                        @if (SignInManager.IsSignedIn(User))
                        {

                            <li class="nav-item main-menu position-relative">
                                <div class="d-flex align-items-center user-avatar-wrapper">
                                    <div class="sign-in-user-avatar" id="header-user-avatar">
                                        <img class="user-avatar" alt="user-avatar" src="@user.Avatar" width="32" height="32" />

                                    </div>
                                    <div class="d-inline-flex align-items-end">
                                        <div id="header-user-name">
                                            <span class="ims-3 text-it-white text-hover-underline">@user.FullName</span>

                                        </div>
                                        <i class="feather-icon icon-md" data-feather="chevron-down"></i>

                                    </div>
                                </div>
                                <div class="position-absolute shadow bg-it-black sub-menu vbit-menu top-100 end-0">
                                    <ul class="ip-0 im-0 bg-it-black position-relative">
                                        <li class="profile-menu-item d-flex">
                                            <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4 text-dark-grey" asp-area="User/Profiles" asp-controller="Profile" asp-action="Index">
                                                <i class="feather-icon icon-md" data-feather="grid"></i>
                                                <span class="ims-2">Tổng quan</span>
                                            </a>
                                        </li>
                                        <li class="profile-menu-item d-flex">
                                            <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4 text-dark-grey" asp-area="User/Profiles" asp-controller="Profile" asp-action="ManageCV">
                                                <i class="feather-icon icon-md" data-feather="file-text"></i>
                                                <span class="ims-2">Hồ sơ đính kèm</span>
                                            </a>
                                        </li>
                                        <li class="profile-menu-item d-flex">
                                            <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4 text-dark-grey" asp-area="User/Profiles" asp-controller="Profile" asp-action="ProfileCV">
                                                <i class="feather-icon icon-md" data-feather="user"></i>
                                                <span class="ims-2">Hồ sơ ITviec</span>
                                            </a>
                                        </li>
                                        <li class="profile-menu-item d-flex">
                                            <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4 text-dark-grey" asp-area="User/Profiles" asp-controller="Profile" asp-action="MyJobs">
                                                <i class="feather-icon icon-md" data-feather="briefcase"></i>
                                                <span class="ims-2">Việc làm của tôi</span>
                                            </a>
                                        </li>
                                        <li class="profile-menu-item d-flex">
                                            <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4 text-dark-grey" asp-area="User/Profiles" asp-controller="Profile" asp-action="JobInvitation">
                                                <i class="feather-icon icon-md" data-feather="inbox"></i>
                                                <span class="ims-2">Lời mời công việc</span>
                                            </a>
                                        </li>
                                        <li class="profile-menu-item d-flex">
                                            <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4 text-dark-grey" asp-area="User/Profiles" asp-controller="Profile" asp-action="ESubscriptions">
                                                <i class="feather-icon icon-md" data-feather="mail"></i>
                                                <span class="ims-2">Đăng ký nhận email</span>
                                            </a>
                                        </li>
                                        <li class="profile-menu-item d-flex">
                                            <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4 text-dark-grey" asp-area="User/Profiles" asp-controller="Profile" asp-action="Settings">
                                                <i class="feather-icon icon-md" data-feather="settings"></i>
                                                <span class="ims-2">Cài đặt</span>
                                            </a>
                                        </li>
                                        <li class="profile-menu-item d-flex">
                                            <a type="submit" class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4 text-dark-grey" asp-area="Users/Auths" asp-controller="Auth" asp-action="LogOff">
                                                <i class="feather-icon icon-md" data-feather="log-out"></i>
                                                <span class="ims-2">Đăng xuất</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a hreflang="en" rel="nofollow" class="text-hover-underline text-it-white" asp-area="User/Auths" asp-controller="Auth" asp-action="SignIn">
                                    @Localizer["SignInSignUp"]
                                </a>
                            </li>
                        }
                      
                        <partial name="_SelectLanguagePartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="d-xl-none">
        <nav class="navbar fixed-top ipx-5 ipy-3 flex-row justify-content-between shadow border-bottom">
            <div class="hamburger-menu">
                <span class="text-dark-grey cursor-pointer">
                    <i class="feather-icon icon-md" data-feather="menu"></i>
                </span>
            </div>
            <div class="d-flex align-items-center">
                <div class="itviec-logo position-absolute">
                    <a href="">
                        <img class="logo-itviec" alt="logo-itviec"
                             src="~/images/logo-light.png" />
                    </a>
                </div>
            </div>
            <div class="user-menu text-end">
                <div class="nav-item">

                @if(SignInManager.IsSignedIn(User)) {
                        <div class="d-flex align-items-center justify-content-end user-menu-wrapper">
                        <div class="sign-in-user-avatar" id="">
                            <img class="user-avatar" alt="user-avatar" src="@user.Avatar" width="32" height="32">
                        </div>
                        <i class="feather-icon icon-md" data-feather="chevron-down"></i>

                    </div>
                } else {
                    <a asp-area="User/Auths" asp-controller="Auth" asp-action="SignIn" class="nav-link ipe-1 text-hover-underline text-it-white">Sign In</a>
                }
                </div>

            </div>
            <div class="left-nav d-none position-absolute start-0 bg-it-black text-it-white leftNav shadow">
                <div class="ips-3 imy-5 d-flex align-items-end justify-content-end cursor-pointer dark-grey btnCloseLeftNav">
                    <span class="ipe-2">Close</span>
                    <span class="ipe-3 lh-1">
                        <i class="feather-icon icon-md" data-feather="x"></i>
                    </span>
                </div>
                <div class="menu-item border-top">
                    <div class="ips-3 ipy-4 d-flex align-items-center">
                        <a class="text-it-white" href="search">@Localizer["AllJobs"]</a>
                    </div>
                </div>
                <div class="menu-item">
                    <div class="ips-3 ipy-4 d-flex justify-content-between btnShowSubMenu">
                        Jobs by Skill
                        <span class="ipe-3">
                            <i class="feather-icon icon-md" data-feather="chevron-right"></i>
                        </span>
                    </div>
                    <div class="sub-menu bg-it-black text-dark-grey position-fixed">
                        <div class="ips-3 ipy-5 d-flex align-items-center justify-content-between text-dark-grey">
                            <div class="d-flex align-items-center btnBackSubMenu">
                                <i class="feather-icon icon-md" data-feather="chevron-left"></i>
                                <span class="ips-2">Back</span>
                            </div>
                            <div class="ipe-3 d-flex align-items-end btnCloseSubMenu">
                                <span class="ipe-2">Close</span>
                                <span class="lh-1">
                                    <i class="feather-icon icon-md" data-feather="x"></i>
                                </span>
                            </div>
                        </div>
                        <div class="vstack">
                            @foreach (var category in skills)
                            {
                                <a class="ips-4 ipy-2 sub-menu-item text-dark-grey" href="/">@category.Name</a>
                            }
                        </div>
                        <div class="text-center">
                            <a
                                class="align-items-center d-inline-flex imy-3 text-dark-grey"
                                href="/jobs-skill-index?gclid=CjwKCAiAhP67BhAVEiwA2E_9gxgSQaORO_gChtgvCfPmcYxR-DLXjmRK9Dy15LQXuYCmj61Ubb61pRoC2qwQAvD_BwE&amp;utm_campaign=gsn_brand_dn&amp;utm_content=itviec&amp;utm_medium=cpc&amp;utm_source=google&amp;utm_term=itviec">
                                View all Jobs by skill
                                <i class="feather-icon icon-sm" data-feather="chevron-right">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <div class="ips-3 ipy-4 d-flex justify-content-between btnShowSubMenu">
                        Jobs by Title
                        <span class="ipe-3">
                            <i class="feather-icon icon-md" data-feather="chevron-right"></i>
                        </span>
                    </div>
                    <div class="sub-menu bg-it-black position-fixed">
                        <div class="ips-3 ipy-5 d-flex align-items-center justify-content-between text-dark-grey">
                            <div class="d-flex align-items-center btnBackSubMenu">
                                <i class="feather-icon icon-md" data-feather="chevron-left"></i>
                                <span class="ips-2">Back</span>
                            </div>
                            <div class="ipe-3 d-flex align-items-end btnCloseLeftNav">
                                <span class="ipe-2">Close</span>
                                <span class="lh-1">
                                    <i class="feather-icon icon-md" data-feather="x"></i>
                                </span>
                            </div>
                        </div>
                        <div class="vstack">

							@foreach (var title in titles)
							{
                                <a class="ips-4 ipy-2 sub-menu-item text-dark-grey" href="/">@title.Name</a>
							}
                        </div>
                        <div class="text-center">
                            <a class="align-items-center d-inline-flex imy-3 text-dark-grey" asp-area="User/Titles" asp-controller="Title" asp-action="All">
                                View all Jobs by title
                                <i class="feather-icon icon-md" data-feather="chevron-right"></i>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <div class="ips-3 ipy-4 d-flex justify-content-between btnShowSubMenu">
                        Jobs by Company
                        <span class="ipe-3">
                            <i class="feather-icon icon-md" data-feather="chevron-right"></i>

                        </span>
                    </div>
                    <div class="sub-menu bg-it-black position-fixed" data-mobile-menu-target="subMenu">
                        <div class="ips-3 ipy-5 d-flex align-items-center justify-content-between text-dark-grey">
                            <div class="d-flex align-items-center btnBackSubMenu">
                                <i class="feather-icon icon-md" data-feather="chevron-left"></i>
                                <span class="ips-2">Back</span>
                            </div>
                            <div class="ipe-3 d-flex align-items-end btnCloseLeftNav">
                                <span class="ipe-2">Close</span>
                                <span class="lh-1">
                                    <i class="feather-icon icon-md" data-feather="x"></i>
                                </span>
                            </div>
                        </div>
                        <div class="vstack">
                            @foreach (var company in companies)
                             {
                                <a asp-area="User/Companies" asp-controller="Company" asp-action="Detail" asp-route-slug="@company.Slug" class="ips-4 ipy-2 sub-menu-item text-dark-grey">@company.Name</a>
                             }
                        </div>
                        <div class="text-center">
                            <a class="align-items-center d-inline-flex imy-3 text-dark-grey"
                                href="/jobs-company-index?gclid=CjwKCAiAhP67BhAVEiwA2E_9gxgSQaORO_gChtgvCfPmcYxR-DLXjmRK9Dy15LQXuYCmj61Ubb61pRoC2qwQAvD_BwE&amp;utm_campaign=gsn_brand_dn&amp;utm_content=itviec&amp;utm_medium=cpc&amp;utm_source=google&amp;utm_term=itviec">
                                View all Jobs by company
                                <i class="feather-icon icon-md" data-feather="chevron-right"></i>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <div class="ips-3 ipy-4 d-flex justify-content-between btnShowSubMenu">
                        Jobs by City
                        <span class="ipe-3">
                            <i class="feather-icon icon-md" data-feather="chevron-right"></i>

                        </span>
                    </div>
                    <div class="sub-menu bg-it-black position-fixed" data-mobile-menu-target="subMenu">
                        <div class="ips-3 ipy-5 d-flex align-items-center justify-content-between  text-dark-grey">
                            <div class="d-flex align-items-center btnBackSubMenu">
                                <i class="feather-icon icon-md" data-feather="chevron-left"></i>
                                <span class="ips-2">Back</span>
                            </div>
                            <div class="ipe-3 d-flex align-items-end btnCloseLeftNav">
                                <span class="ipe-2">Close</span>
                                <span class="lh-1">
                                    <i class="feather-icon icon-md" data-feather="x"></i>
                                </span>
                            </div>
                        </div>
                        <div class="vstack">
                            @foreach (var province in provinces)
                            {
                                <a class="ips-4 ipy-2 sub-menu-item text-dark-grey" asp-area="User/Provinces" asp-controller="Province" asp-action="Detail">
                                    @province.Name
                                </a>
                            }
                            </div>
                    </div>
                </div>
                <ul class="ips-3 ipy-5 menu-item header-nav navbar-nav align-items-xl-center text-it-white">
                    <li>
                        <a class="text-hover-underline" rel="canonical" target="_blank">For Employers</a>
                    </li>
                </ul>

                <partial name="_SelectLanguagePartial" />

            </div>
            <div class="right-nav d-none position-absolute end-0 bg-it-black shadow">
                <div class="ipe-3 imy-5 d-flex align-items-end justify-content-end text-dark-grey cursor-pointer btnCloseRightNav">
                    <span class="ipe-2">Close</span>
                    <span class="ipe-3 lh-1">
                        <i class="feather-icon icon-md" data-feather="x"></i>
                    </span>
                </div>
                <ul class="header-nav navbar-nav border-top">
                    <li class="profile-menu-item d-flex">
                        <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4"
                           asp-area="User/Profiles" asp-controller="Profile" asp-action="Index">
                            <i class="feather-icon icon-md" data-feather="grid"></i>
                            <span class="ims-2">Dashboard</span>
                        </a>
                    </li>
                    <li class="profile-menu-item d-flex">
                        <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4"
                           asp-area="User/Profiles" asp-controller="Profile" asp-action="ManageCV">
                            <i class="feather-icon icon-md" data-feather="file-text"></i>
                            <span class="ims-2">CV Attachment</span>
                        </a>
                    </li>
                    <li class="profile-menu-item d-flex">
                        <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4"
                           asp-area="User/Profiles" asp-controller="Profile" asp-action="ProfileCV">
                            <i class="feather-icon icon-md" data-feather="user"></i>

                            <span class="ims-2">My Profile</span>
                        </a>
                    </li>
                    <li class="profile-menu-item d-flex">
                        <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4"
                           asp-area="User/Profiles" asp-controller="Profile" asp-action="MyJobs">
                            <i class="feather-icon icon-md" data-feather="briefcase"></i>

                            <span class="ims-2">My Jobs</span>
                        </a>
                    </li>
                    <li class="profile-menu-item d-flex">
                        <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4"
                           asp-area="User/Profiles" asp-controller="Profile" asp-action="JobInvitation">
                            <i class="feather-icon icon-md" data-feather="inbox"></i>

                            <span class="ims-2">Job Invitation</span>
                        </a>
                    </li>
                    <li class="profile-menu-item d-flex">
                        <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4" asp-area="User/Profiles" asp-controller="Profile" asp-action="ESubscriptions">
                        
                            <i class="feather-icon icon-md" data-feather="mail"></i>

                            <span class="ims-2">Email Subscriptions</span>
                        </a>
                    </li>
                    <li class="profile-menu-item d-flex">
                        <a class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4" asp-area="User/Profiles" asp-controller="Profile" asp-action="Settings">
                            <i class="feather-icon icon-md" data-feather="settings"></i>

                            <span class="ims-2">Settings</span>
                        </a>
                    </li>
                    <li class="profile-menu-item d-flex">
                        <a data-turbo="false" class="d-flex align-items-center w-100 ips-3 ipy-4 ipx-xl-4" asp-area="User/Auths" asp-controller="Auth" asp-action="SignOut">
                            <i class="feather-icon icon-md" data-feather="log-out"></i>
                            <span class="ims-2">Sign Out</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</header>
