@model IEnumerable<RecruitmentApp.Models.Company>

@{
    ViewData["Title"] = "Quản Lý Công Ty";
}

<div class="d-flex justify-content-between align-items-center py-3 px-5 bg-light rounded-lg mb-3">
    <h2> @ViewData["Title"]</h2>
    <a class="btn btn-success px-4 text-white text-decoration-none" asp-action="Create"><i class="fas fa-plus-circle mr-2"></i>Tạo Mới</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoImage)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="Details" asp-route-id="@item.CompanyId">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nation)
            </td>
          
            <td class="text-center">
                    <img src="@Html.DisplayFor(modelItem => item.LogoImage)" class="w-75" />
            </td>
            <td class="text-center">
                <a class="btn btn-sm border-primary" asp-action="Details" asp-route-id="@item.CompanyId"><i class="far fa-eye text-primary"></i></a>
                <a class="btn btn-sm border-warning" asp-action="Edit" asp-route-id="@item.CompanyId"><i class="fas fa-edit text-warning"></i></a>
                <a class="btn btn-sm border-danger" asp-action="Delete" asp-route-id="@item.CompanyId"><i class="fas fa-trash-alt text-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            new DataTable('.table').dataTable({
            });
        })

    </script>
}