@{
    Layout = "_AdminLayout";
}
<script src="~/lib/chartjs/chart.umd.js"></script>
<script src="~/lib/countupjs/countUp.umd.js"></script>
<style>
    .card {
        text-align: center;
        margin-bottom: 20px;
    }

        .card i {
            display: block;
            margin: 0 auto 10px;
        }

        .card h5 {
            margin-bottom: 10px;
        }
</style>
<h2 class="text-center mb-5">Chào mừng bạn (@User.Identity.Name) đã đến trang quản trị</h2>
<div class="row">
    <div class="col-md-3">
        <div class="card bg-info text-white">
            <div class="card-body">
                <i class="fas fa-users fa-2x"></i>
                <h5 class="card-title">Tổng User</h5>
                <h3 class="total card-text">@ViewData["totalUsers"]</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-danger text-white">
            <div class="card-body">
                <i class="fas fa-building fa-2x"></i>
                <h5 class="card-title">Tổng Nhà Tuyển Dụng</h5>
                <h3 class="total card-text">@ViewData["totalCompanies"]</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-warning text-white">
            <div class="card-body">
                <i class="far fa-newspaper fa-2x"></i>
                <h5 class="card-title">Tổng Bài Tuyển Dụng</h5>
                <h3 class="total card-text">@ViewData["totalPosts"]</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <i class="far fa-paper-plane fa-2x"></i>
                <h5 class="card-title">Tổng Đơn Apply</h5>
                <h3 class="total card-text">@ViewData["totalApplies"]</h3>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Thống kê nơi tuyển dụng cả nước</div>
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
      
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Thống kê Type nhà tuyển dụng IT</div>
                <div class="card-body">
                    <canvas id="chartCompanyType"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Thống kê Nation nhà tuyển dụng IT</div>
                <div class="card-body">
                    <canvas id="chartCompanyNation"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Thống kê kĩ năng lập trình</div>
                <div class="card-body">
                    <canvas id="chartSkill"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    // Dữ liệu mẫu
    var data = {
        labels: ["Hà Nội", "Đà Đẵng", "Hồ Chí Minh ", "Nơi Khác"],
        datasets: [{
            label: 'Nơi tuyển dụng cả nước',
            data: JSON.parse('@Html.Raw(Json.Serialize(ViewData["address"]))'),
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    };
    var dataComType = {
        labels: ["Prduct", "Outsourcing"],
        datasets: [{
            label: 'Thống kê Type của các nhà tuyển dụng',
            data: JSON.parse('@Html.Raw(Json.Serialize(ViewData["listTotalCompanyType"]))'),
        }]
    };
    //

    var dataComNation = {
        labels: JSON.parse('@Html.Raw(Json.Serialize(ViewData["uniqueNations"]))'),
        datasets: [{
            label: 'Thống kê Type của các nhà tuyển dụng',
            data: JSON.parse('@Html.Raw(Json.Serialize(ViewData["nationCounts"]))'),
        }]
    };

    var dataSkill = {
        labels: JSON.parse('@Html.Raw(Json.Serialize(ViewData["uniqueSkills"]))'),
        datasets: [{
            label: 'Thống kê Type của các nhà tuyển dụng',
            data: JSON.parse('@Html.Raw(Json.Serialize(ViewData["SkillCounts"]))'), 
            backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(234, 102, 255, 0.5)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
        }],

    };
    // Tùy chọn của biểu đồ
    var options = {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    };

    // Lấy thẻ canvas và vẽ biểu đồ
    var ctx = document.getElementById('myChart').getContext('2d');
    var chartCompanyType = document.getElementById('chartCompanyType').getContext('2d');
    var chartCompanyNation = document.getElementById('chartCompanyNation').getContext('2d');
    var chartSkill = document.getElementById('chartSkill').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options
    });
    new Chart(chartCompanyType, {
        type: 'pie',
        data: dataComType,
    }); 
    new Chart(chartCompanyNation, {
        type: 'pie',
        data: dataComNation,
    });
    new Chart(chartSkill, {
        type: 'bar',
        data: dataSkill,
    });
</script>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/countup/jquery.countup.js"></script>
    <script>
        $('.total').each(function (index, value) {
            $(value).countUp({
                'time': 1000,
            });
        })
    </script>
}