@{
    var currentPage = ViewBag.CurrentPage ?? 1;
    var totalPages = ViewBag.TotalPages ?? 1;
    var pageSize = ViewBag.PageSize ?? 10;
    var search = ViewBag.Search ?? "";
}

<nav>
    <ul class="pagination">
        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
            <a class="page-link"
               asp-action="Index"
               asp-route-page="@(currentPage - 1)"
               asp-route-pageSize="@pageSize"
               asp-route-search="@search">
                <i data-feather="chevron-left" class="icon-md"></i>
           </a>
        </li>

        @for (var i = 1; i <= (int)totalPages; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@i"
                   asp-route-pageSize="@pageSize"
                   asp-route-search="@search">@i</a>
            </li>
        }

        <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
            <a class="page-link"
               asp-action="Index"
               asp-route-page="@(currentPage + 1)"
               asp-route-pageSize="@pageSize"
               asp-route-search="@search">
                <i data-feather="chevron-right" class="icon-md"></i>
           </a>
        </li>
    </ul>
</nav>
