@model IEnumerable<RecruitmentApp.Models.Blog>
@{
	var stt = 0;
}



<nav class="page-breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Blogs</li>
		<li class="breadcrumb-item active" aria-current="page"><a href="">Danh sách</a></li>
	</ol>
</nav>

<partial name="_AlertMessage" />

<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body d-flex justify-content-between align-items-center">
				<div>
					<h4 class="font-weight-bold">@ViewData["Title"]</h4>
				</div>
				<a class="btn btn-sm btn-success px-4 text-white text-decoration-none d-flex align-items-center" asp-action="Create">
					<i class="mr-2 icon-md" data-feather="plus"></i>
					Tạo Mới
				</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<div>
					<partial name="Admin/_SearchAndPageSizePartial" />
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>STT</th>
							<th>ID</th>
							<th>Tiêu đề</th>
							<th>Ngày tạo</th>
							<th>Xuất bản</th>
							<th>Thao tác</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@(++stt)</td>
								<td>@item.BlogId</td>
								<td>
									<a asp-action="Details" asp-route-id="@item.BlogId">
										@item.Title
									</a>
								</td>
								<td>@item.CreatedAt.ToString("dd/MM/yyyy")</td>
								<td>
									@if (item.IsPublished)
									{
										<span class="badge badge-success">Đã xuất bản</span>
									}
									else
									{
										<span class="badge badge-secondary">Nháp</span>
									}
								</td>
								<td class="text-center">
									<a class="btn btn-xs border-primary" asp-action="Details" asp-route-id="@item.BlogId"><i data-feather="eye" class="icon-sm text-primary"></i></a>
									<a class="btn btn-xs border-warning" asp-action="Edit" asp-route-id="@item.BlogId"><i data-feather="edit" class="icon-sm text-warning"></i></a>
									<a class="btn btn-xs border-danger" asp-action="Delete" asp-route-id="@item.BlogId"><i data-feather="trash-2" class="icon-sm text-danger"></i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>
				<div class="mt-4">
					<partial name="Admin/_PaginationPartial" />
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('.table').DataTable({
				paging: false,
				lengthChange: false,
				searching: false,
				info: false,
				ordering: true
			});
		});
	</script>
}
