@model List<AppUser>
@{
    var referenceUser = Model.FirstOrDefault() ?? new RecruitmentApp.Models.AppUser();
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Recuiter</li>
        <li class="breadcrumb-item">Candidates</li>
        <li class="breadcrumb-item active">
            <a href="">List</a>
        </li>
    </ol>
</nav>

<partial name="_StatusMessage" />

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="font-weight-bold mb-0">@ViewData["Title"]</h4>
                    <span class="text-muted">Tổng Users: <strong>@ViewBag.TotalUsers</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div>
                    <partial name="Admin/_SearchAndPageSizePartial" />
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => referenceUser.Email)</th>
                            <th>@Html.DisplayNameFor(m => referenceUser.FullName)</th>
                            <th>@Html.DisplayNameFor(m => referenceUser.PhoneNumber)</th>
                            <th>@Html.DisplayNameFor(m => referenceUser.Avatar)</th>
                            <th>@Html.DisplayNameFor(m => referenceUser.Gender)</th>
                            <th>@Html.DisplayNameFor(m => referenceUser.BirthDate)</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.Email</td>
                                <td>@user.FullName</td>
                                <td>@user.PhoneNumber</td>
                                <td>
                                    <img src="@user.Avatar" style="width: 40px; height: 40px;" alt="@user.UserName" />
                                </td>
                                <td>@ViewHelpers.GetGenderText(user.Gender)</td>
                                <td>@user.BirthDate</td>
                               
                                <td class="text-center">
                                    <a class="btn btn-outline-info btn-sm d-inline-flex align-items-center" asp-action="ManageApplyJob" asp-route-id="@user.Id">
                                        <i data-feather="file-text" class="mr-1 icon-sm"></i> Applies
                                    </a>
                               
                                    <a class="btn btn-sm btn-outline-primary" asp-action="Details" asp-route-id="@user.Id">
                                        <i data-feather="eye" class="icon-sm mr-1"></i> Xem
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="mt-4">
                    <partial name="Admin/_PaginationPartial" />
                </div>
                @* <partial name="_PagingXTL" model="@pagingmodel" /> *@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                paging: false,
                lengthChange: false,
                searching: false,
                info: false,
                ordering: true
            });
        });
    </script>
}
