@model CreateLocationViewModel

<form asp-action="CreateLocation" method="post">
    @Html.HiddenFor(m => m.CompanyId)

    <div class="form-group">
        <label>Tỉnh / Thành phố</label>
        @Html.DropDownListFor(m => m.ProvinceCode, Model.Provinces, "-- Chọn tỉnh --", new { @class = "form-control", id = "province-select" })
    </div>

    <div class="form-group">
        <label>Quận / Huyện</label>
        @Html.DropDownListFor(m => m.DistrictCode, Model.Districts, "-- Chọn huyện --", new { @class = "form-control", id = "district-select" })
    </div>

    <div class="form-group">
        <label>Phường / Xã</label>
        @Html.DropDownListFor(m => m.WardCode, Model.Wards, "-- Chọn xã --", new { @class = "form-control", id = "ward-select" })
    </div>

    <div class="form-group">
        <label>Vị trí chi tiết</label>
        @Html.TextBoxFor(m => m.DetailPosition, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">
        <i data-feather="plus" class="icon-md"></i>
        Thêm địa điểm
    </button>
</form>
