@{
	Layout = "_DetailLayout.cshtml";
	var locations = ViewData["locations"] as Dictionary<string, List<Address>>;
	var company = ViewData["company"] as Company;
	var key = "AIzaSyAOVYRIgupAurZup5y1PRh8Ismb1A3lLao";
}
<!-- / Sections -->
<div class="bg-it-white box-shadow-medium border-radius-large-xl ipx-5 ipt-6 ipb-8 imb-5 ip-xl-6 ipb-xl-8">
	<h2 class="border-bottom-dashed ipb-4">
		General information
	</h2>
	<div class="row ipt-xl-4">
		<div class="col-xl-4 d-flex flex-xl-column justify-content-between justify-content-xl-start border-bottom-dotted border-none-xl ipy-2 ipy-xl-0">
			<div class="text-dark-grey ifs-xl-14">
				Company type
			</div>
			<div class="normal-text">
				@company?.CompanyType?.Name
			</div>
		</div>
		<div class="col-xl-4 d-flex flex-xl-column justify-content-between justify-content-xl-start border-bottom-dotted border-none-xl ipy-2 ipy-xl-0">
			<div class="text-dark-grey ifs-xl-14">
				Company industry
			</div>
			<div class="text-end text-xl-start">
				<div class="flex-1 ips-2 ips-md-0">
					<div class="d-inline-flex">
						@string.Join(" - ", company.CompanyIndustries.Select(c =>
															c.Industry.Name))
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 d-flex flex-xl-column justify-content-between justify-content-xl-start border-bottom-dotted border-none-xl ipy-2 ipy-xl-0">
			<div class="text-dark-grey ifs-xl-14">
				Company size
			</div>
			<div class="normal-text">
				@company.Size
			</div>
		</div>
	</div>
	<div class="row ipt-xl-4">
		<div class="col-xl-4 d-flex flex-xl-column justify-content-between border-bottom-dotted border-none-xl ipy-2 ipy-xl-0">
			<div class="text-dark-grey ifs-xl-14">
				Country
			</div>
			<div class="d-flex align-items-center">
				<div class="d-inline-block">
					<i class="feather-icon align-middle ime-1 flag-icon icon-md" data-feather="au-flag">
					</i>
					<span class="align-middle">Australia</span>
				</div>
			</div>
		</div>
		<div class="col-xl-4 d-flex flex-xl-column justify-content-between border-bottom-dotted border-none-xl ipy-2 ipy-xl-0">
			<div class="text-dark-grey ifs-xl-14">
				Working days
			</div>
			<div class="normal-text">
				@company.WorkingTime
			</div>
		</div>
		<div class="col-xl-4 d-flex flex-xl-column justify-content-between ipy-2 ipy-xl-0">
			<div class="text-dark-grey ifs-xl-14">
				Overtime policy
			</div>
			<div class="normal-text">
				@company.OverTime
			</div>
		</div>
	</div>
</div>
<div class="bg-it-white box-shadow-medium border-radius-large-xl ipx-5 ipt-6 ipb-8 imb-5 ip-xl-6 ipb-xl-8">
	<h2 class="border-bottom-dashed ipb-4">
		Company overview
	</h2>
	<div class="paragraph ipt-4 text-break text-contain-hyperlink">

		@Html.Raw(@company.Description)

	</div>
	<div class="d-flex flex-column flex-xl-row paragraph border-top-dashed imt-4">
		@if (company.IsShowCompanyUrl)
		{
			<a class="d-flex align-items-center cursor-pointer ipt-4 ipe-4" href="@company.CompanyUrl">
				<i data-feather="globe" class="feather-icon icon-md hyperlink">
				</i>
				<div class="hyperlink ips-1">
					Company website
				</div>
			</a>
		}

		@if (company.IsShowCompanyFbUrl)
		{
			<a class="d-flex align-items-center cursor-pointer ipt-4" href="@company.CompanyFbUrl">
				<i data-feather="facebook" class="feather-icon icon-md hyperlink"></i>

				<div class="hyperlink ips-1">
					Fanpage Facebook
				</div>
			</a>
		}

	</div>
</div>
<div class="bg-it-white box-shadow-medium border-radius-large-xl ipx-5 ipt-6 ipb-8 imb-5 ip-xl-6 ipb-xl-8">
	<h2 class="border-bottom-dashed ipb-4">
		Our key skills
	</h2>
	<div class="paragraph text-break">
		<div class="d-flex flex-wrap igap-3 ipt-4">
			@foreach (var skill in company?.CompanySkills?.Select(i => i.Skill))
			{
				<a target="_blank" class="itag itag-sm itag-light" asp-action="Search" asp-controller="Job">@skill.Name</a>
			}
		</div>
		<div class="ipt-4 text-contain-hyperlink">
			@Html.Raw(company.OurExpertise)
		</div>
	</div>
</div>
<div class="bg-it-white box-shadow-medium border-radius-large-xl ipx-5 ipt-6 ipb-8 imb-5 ip-xl-6 ipb-xl-8">
	<h2 class="border-bottom-dashed ipb-4">
		Why you'll love working here
	</h2>
	<div class="position-relative read-more-container">
		<div>
			@Html.Raw(company.TopReason)
			<div class="jd-photos ipt-2 ipb-6">
				<div class="swiper swiper-container">
					<div class="swiper-wrapper">

						@foreach (var image in company.Images)
						{
							<div class="swiper-slide">
								<a href="~/images/sliders/@image.FileName" data-lightbox="gallery">
									<img src="~/images/sliders/@image.FileName" alt="@image.FileName" class="border-radius-normal w-100 w-xl-auto ls-is-cached lazyloaded" />
								</a>
							</div>
						}
					</div>
				</div>
			</div>
			<div class="paragraph text-break text-contain-hyperlink">
				@Html.Raw(company.WhyJoinUs)
			</div>
			<div class="read-more position-absolute bottom-0 w-100 text-center ipt-24 read-more-btn moreTextLink">
				<span class="hyperlink d-flex justify-content-center align-items-center cursor-pointer">
					<span class="ipe-1">View more</span>
					<i class="feather-icon icon-md" data-feather="chevron-down"></i>
				</span>
			</div>
			<div class="d-none ipt-6 read-less-btn lessTextLink">
					<span class="hyperlink d-flex justify-content-center align-items-center cursor-pointer">
						<span class="ipe-1">View less</span>
						<i class="feather-icon icon-md" data-feather="chevron-up"></i>
					</span>
				</div>
		</div>
	</div>


</div>
<div class="bg-it-white box-shadow-medium border-radius-large-xl ipx-5 ipt-6 ipb-8 imb-5 ip-xl-6 ipb-xl-8">
	<div>
		<h2 class="border-bottom-dashed ipb-4 imb-4">
			Location
		</h2>
		<div class="row flex-column-reverse flex-xl-row gx-3">
			<div class="col-xl-4 locations i-scrollbar">

				@foreach (var province in locations)
				{

					<h3 class="ipb-3">
						@province.Key (@province.Value.Count)
					</h3>
					@foreach (var address in province.Value)
					{
						var mapUrl = $"https://www.google.com/maps/embed/v1/place?key={key}&q=" + System.Net.WebUtility.UrlEncode(address.FullAddress);

						<div class="location box-shadow-normal border-radius-normal cursor-pointer ip-3 imb-3" data-map-url="@mapUrl">
							<div class="d-flex igap-2">
								<span class="map-pin ipt-1">
									<i data-feather="map-pin" class="feather-icon icon-sm"></i>
								</span>
								<span class="text-break">
									@address.FullAddress
								</span>
							</div>
						</div>

					}
				}
			</div>
			<div class="col-xl-8 imb-6 imb-xl-0">
				<div>
					<iframe id="googleMap" allowfullscreen="" class="google-map border-radius-large" frameborder="0" height="100%" style="border: 0;" width="100%"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

@* <div class="d-flex flex-xl-row flex-column">
    <div class="d-flex justify-content-center">
        <div class="logo border-radius-normal text-center ime-xl-6">
            <picture>
                <source data-srcset="~/images/companies/@company.LogoImage"
                    srcset="~/images/companies/@company.LogoImage" />
                <img alt="NAB Innovation Centre Vietnam Vietnam Big Logo"
                    class="mw-100 object-fit-contain border-radius-normal lazyloaded" data-controller="lazyload"
                    data-src="~/images/companies/@company.LogoImage    " height="100%"
                    src="~/images/companies/@company.LogoImage" />
            </picture>
        </div>
    </div>
    <div>
        <h1 class="text-center text-xl-start ipt-4 ipb-2 ipt-xl-0">
            @company.FullName
        </h1>
        <div class="d-flex flex-xl-row flex-column">
            <div class="d-flex igap-2 justify-content-center ipb-2 ipb-xl-0 ipe-xl-6">
                <span>
                    <i class="feather-icon icon-sm text-dark-grey" data-feather="map-pin"></i>

                </span>
                <div class="small-text">
                    @string.Join(" - ", company.Locations.Select(c => c.Address.City.Name))
                </div>
            </div>
            <div class="d-flex igap-2 justify-content-center cursor-pointer"
                data-action="click->employers--scroll#goToJobListing">
                <span>
                    <i class="feather-icon icon-sm text-dark-grey" data-feather="briefcase"></i>
                </span>
                <div class="small-text text-decoration-underline text-nowrap">
                    @company.Posts.Where(c => !c.IsClose).ToList().Count() job openings
                </div>
            </div>
        </div>
        <div class="d-flex igap-3 ipt-6 ipb-xl-0">
            <a class="ibtn ibtn-md ibtn-primary ibtn-md-phone w-50 w-xl-auto" rel="nofollow"
                href="/companies/nab-innovation-centre-vietnam/review/new?utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page">
                Write review
            </a>

            <a id="follow-button" class="ibtn ibtn-md ibtn-secondary ibtn-md-phone w-xl-auto w-50" rel="nofollow"
                href="/companies/nab-innovation-centre-vietnam/followings?locale=en">
                Follow
            </a>

            <a id="unfollow-button"
                class="ibtn ibtn-md ibtn-secondary ibtn-md-phone w-xl-auto w-50 d-none ibutton-following" rel="nofollow"
                href="#">
                <div class="positive">
                    <div class="d-flex igap-2 align-items-center text-nowrap">
                        <i class="feather-icon icon-md" data-feather="check">
                        </i>

                        Following
                    </div>
                </div>
                <div class="negative">
                    <div class="d-flex igap-2 align-items-center text-nowrap">
                        <i class="feather-icon icon-md" data-feather="x">
                        </i>
                        Unfollow
                    </div>
                </div>
            </a>
        </div>
    </div>
</div> *@


@section Scripts {
	<script>

		 $(document).ready(function () {
			$(".read-more-btn").click(function () {
				let container = $(this).closest(".read-more-container");
				container.toggleClass("show");

				container.find(".moreTextLink").addClass("d-none");
				container.find(".lessTextLink").removeClass("d-none");
			});

			$(".read-less-btn").click(function () {
				let container = $(this).closest(".read-more-container");
				container.toggleClass("show");

				container.find(".moreTextLink").removeClass("d-none"); s
				container.find(".lessTextLink").addClass("d-none");
			});

			$('.location').on('click', function () {
				var newMapUrl = $(this).data('map-url');
				$('#googleMap').attr('src', newMapUrl);

				$('.location').each(function () {
					$(this).removeClass('active');
				});

				$(this).addClass('active');
			});

			$('.location').first().trigger('click');

			var swiper = new Swiper('.swiper-container', {
				slidesPerView: 3,
				spaceBetween: 10,
			});
		});
	</script>
}