@model List<Company>

<div class="flex-grow-1">

	<!-- / Search Form -->
	<partial name="_Searchform" />
	<div class="main bg-it-white">
		<div class="icontainer-sm">
			<h1 class="imy-6">
				@Model.Count() IT companies in Vietnam for you
			</h1>
			<div class="companies-grid d-grid igap-5 imb-6">
				@foreach (var com in Model)
				{
					<a class="featured-company border-solid text-rich-grey small-text border-radius-large overflow-hidden" target="_blank">
						<div class="company__banner">
							<img alt="@com.FullName Photo" data-controller="lazyload" height="160" width="326" class=" lazyloaded" src="@(com.Images?.FirstOrDefault()?.FullPath ?? Url.Content("~/images/placeholder.jpeg"))" />
						</div>
						<div class="company__info ipx-4 flex-grow-1">
							<div class="company__header d-flex">
								<div class="company__logo bg-white border-solid">
									<img alt="@com.FullName Logo" style="object-fit: scale-down;" height="62" width="64" class=" lazyloaded" src="~/images/companies/@com.LogoImage" />
								</div>
								<div class="d-flex justify-content-between align-items-baseline w-100 ims-2 imt-3">
									<h4 class="company__name text-it-black fw-500">@com.Name</h4>
									<div class="d-inline-flex igap-1 ims-2">
										<i class="feather-icon icon-sm fill text-warning-color icon-top-2" data-feather="star"></i>
										<span class="company__star-rate">
											@(com.Reviews?.Any() == true
											? com.Reviews.Average(r => r.OverallRating).ToString("0.0")
											: "0")
										</span>
									</div>
								</div>
							</div>
							<p style="min-height: 42px;">@com.FullName</p>
							<div class="company__footer justify-content-between">
								<div class="company__footer-city">
									@string.Join(", ",
										com.Locations
										.Select(l => l.Address?.City?.Name)
										.Where(name => !string.IsNullOrEmpty(name))
										.Distinct()
										)

								</div>
								<div class="d-flex">
									@com.Posts.Count() jobs
								</div>
								<div class="company__footer-reviews hyperlink d-flex align-items-center">
									@com.Reviews.Count() reviews
									<i class="feather-icon icon-sm" data-feather="chevron-right"></i>
								
								</div>
							</div>
						</div>
					</a>

				}

			</div>
		</div>
	</div>

</div>