@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity
@using RecruitmentApp.Models
@using System.Web;

@inject SignInManager<AppUser> SignInManager

@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Kết quả tìm kiếm";



    var provices = ViewData["provices"] as SelectList;
    var listLevel = ViewData["listLevel"] as List<Level>;
    var result = ViewData["result"] as List<Post>;
    var seleted = ViewData["salary"] as string;
    var levelsSelected = ViewData["level"] as string[];
    var typesSelected = ViewData["type"] as string[];
    var workspaceSelected = ViewData["workspace"] as string[];

    var listSalary = new List<SelectListItem>() {
        new SelectListItem {Text = "--- Chọn mức lương ---", Value = "-1", },
        new SelectListItem {Text = "Dưới 5 Triệu", Value = "1", },
        new SelectListItem {Text = "Từ 5 Đến 15 Triệu", Value = "2"},
        new SelectListItem {Text = "Từ 15 Đến 30 Triệu", Value = "3"},
        new SelectListItem {Text = "Từ 30 Triệu Trở Lên", Value = "4" },
    };
    int TotalFilter = levelsSelected.Count() + typesSelected.Count() + workspaceSelected.Count();
    var listType = new List<Company>() {
        new  Company{Type = "Product" },
        new  Company{Type = "Outsource"},
    };
    var listWorkspace = new List<Post>() {
        new  Post{WorkSpace = "Văn Phòng" },
        new  Post{WorkSpace = "Làm Từ Xa"},
        new  Post{WorkSpace = "Linh Hoạt"},
    };


    foreach (var s in listSalary)
    {
        if (s.Value == seleted)
        {
            s.Selected = true;
        }
    }


}
<style>
    .provice {
    }

    label.badge {
        border-radius: 1.5rem;
        font-size: 0.9rem;
    }

        label.badge:hover {
            background-color: rgb(220,53,69, 0.4);
        }

    .select2-container {
        width: unset !important;
    }

    .select2-selection__rendered {
        line-height: 3.5rem !important;
    }

    .select2-container .select2-selection--single {
        height: 3.5rem !important;
    }

    label:has(input.selected) {
        border: 1px solid #dc3545 !important;
        background: rgb(220,53,69, 0.2);
    }
    .btn-reset-filter {

        cursor: pointer;
        background: #ccc;
        padding: 6px 10px;
        border-radius: 10px;
    }
</style>
@section Search {
    <!-- Slider main container -->
    <div class="container-fluid my-5 bg-info">
        <div class="container ">
            <form class="row py-4 align-items-center " asp-action="Search" method="get">
                <div class="col-md-5 mb-3 mb-md-0">
                    <input name="key" type="text" class="form-control" value="@ViewData["key"]" placeholder="Nhập" style="height: 3.5rem; font-size: 1.25rem;">
                </div>
                <div class="col-md-4  mb-3 mb-md-0" style="height: 3.5rem;">
                    <select name="city" class="provice w-100" asp-items="@provices">
                        <option value="-1">--- Chọn Tỉnh Thành ---</option>
                    </select>
                </div>

                <div class="col-md-3 w-100">
                    <button type="submit" class="w-100 py-2 btn btn-primary" style="height: 3.5rem;"><b>TÌM NGAY</b></button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg " role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Bộ lọc</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body px-5 py-3">
                                <div class="">
                                    <h6>Cấp bậc</h6>
                                    <div class="d-flex flex-wrap align-items-center">

                                        @foreach (var level in listLevel)
                                        {

                                            if (levelsSelected.Contains(level.LevelId.ToString()))
                                            {
                                                <label for="@level.Name" class="badge py-3 px-4 border  mr-2 checked">
                                                    @level.Name <i class="ml-2 fa fa-plus"></i>
                                                    <input hidden checked class="selected" id="@level.Name" value="@level.LevelId" type="checkbox" name="level" />
                                                </label>
                                            }
                                            else
                                            {
                                                <label for="@level.Name" class="badge py-3 px-4 border mr-2">
                                                    @level.Name <i class="ml-2 fa fa-plus"></i>
                                                    <input hidden id="@level.Name" value="@level.LevelId" type="checkbox" name="level" />
                                                </label>
                                            }
                                        }

                                    </div>
                                </div>
                                <div class="py-3">
                                    <h6>Mức lương</h6>
                                    <div class="">
                                        <select class="salary" name="salary" asp-items="listSalary">
                                        </select>
                                    </div>
                                </div>
                                <div class="py-3">
                                    <h6>Loại công ty</h6>
                                    <div class="d-flex flex-wrap align-items-center">
                                        @foreach (var type in listType)
                                        {
                                            if (typesSelected.Contains(type.Type))
                                            {
                                                <label for="@type.Type" class="badge py-3 px-4 border  mr-2 selected">
                                                    @type.Type<i class="ml-2 fa fa-plus"></i>
                                                    <input hidden checked class="selected" id="@type.Type" value="@type.Type" type="checkbox" name="type" />
                                                </label>
                                            }
                                            else
                                            {
                                                <label for="@type.Type" class="badge py-3 px-4 border  mr-2">
                                                    @type.Type<i class="ml-2 fa fa-plus"></i>
                                                    <input hidden id="@type.Type" value="@type.Type" type="checkbox" name="type" />
                                                </label>
                                            }

                                        }



                                    </div>
                                </div>

                                <div class="py-3">
                                    <h6>Hình thức làm việc</h6>
                                    <div class="d-flex flex-wrap align-items-center">
                                        @foreach (var work in listWorkspace)
                                        {

                                            if (workspaceSelected.Contains(work.WorkSpace))
                                            {
                                                <label for="@work.WorkSpace" class="badge py-3 px-4 border  mr-2 checked">
                                                    @work.WorkSpace<i class="ml-2 fa fa-plus"></i>
                                                    <input hidden checked class="selected" id="@work.WorkSpace" value="@work.WorkSpace" type="checkbox" name="workspace" />
                                                </label>
                                            }
                                            else
                                            {
                                                <label for="@work.WorkSpace" class="badge py-3 px-4 border mr-2">
                                                    @work.WorkSpace<i class="ml-2 fa fa-plus"></i>
                                                    <input hidden id="@work.WorkSpace" value="@work.WorkSpace" type="checkbox" name="workspace" />
                                                </label>
                                            }
                                        }

                                    </div>
                                </div>
                                <div class="mt-3 mb-4 d-flex align-items-center justify-content-between">
                                    <span class="btn-reset-filter text-decoration-none">Xoá bộ lọc</span>
                                    <button type="submit" class="btn btn-danger px-5 py-2">Áp Dụng</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Modal -->

            </form>
            <div class="text-right pb-3">
                <button type="button" class="position-relative btn btn-danger px-5 py-2" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class="fas fa-filter fs5 mr-2"></i>
                    Bọ lọc
                    <span class="position-absolute bg-light text-dark br" style="top: -10px; right: -10px; line-height:0.5; padding: 8px 5px; width: 26px;height: 26px; border-radius:50%">@TotalFilter</span>
                </button>
            </div>
        </div>
    </div>


    }
<div class="container">
  
    <h4 class=" my-4">Kết quả tìm kiếm (@result.Count() tin đăng)</h4>
    <div class="row">
        @{
            var posts = ViewData["posts"] as List<Post>;
            foreach (var post in result)
            {
                            <div class="col-sm-6 col-lg-3 mb-4">
                                <div class="card shadow  p-3 position-relative">
                                    @{
                            DateTime now = DateTime.Now;
                            TimeSpan timeDifference = (now - post.PostDate);
                            string time;
                            if (timeDifference.TotalHours < 24)
                            {
                                // Less than 24 hours, count hours
                                time = $"{(int)timeDifference.TotalHours} giờ";
                            }
                            else
                            {
                                time = $"{(int)timeDifference.TotalDays} ngày";
                            }
                                    }
                                    <h6 class="text-muted"> Đăng @time trước</h6>
                                    <a asp-action="ViewPost" asp-route-id="@post.PostId" class="d-block">
                                        <h5 class="card-title">@post.Title</h5>
                                    </a>
                                    <div class="d-flex align-items-center">
                                        <div class="w-25 ">
                                            <img class="card-img" src="~/company-logo/@post.Company.LogoImage" alt="Card image cap">
                                        </div>
                                        <div class="w-75 px-2">
                                            @post.Company.Name
                                        </div>

                                    </div>

                                    @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="d-flex align-items-center mt-3" style="color: #008563 !important;min-height: 2.8rem;">
                                            <h6 class="mr-2"><i class="fas fa-dollar-sign"></i></h6>
                                <h6>Lương: @post.salaryToString()</h6>
                                        </div>
                        }
                        else
                        {
                                        <a asp-action="Login" asp-controller="Account" asp-area="Identity" class="d-flex align-items-center mt-3 text-success">
                                            <span class="mr-2"><i class="fas fa-dollar-sign"></i></span>
                                            <span>Lương: Đăng nhập Để Xem Chi Tiết</span>
                                        </a>
                        }
                                    <hr />
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2"><i class="fas fa-building"></i></span>
                                        <span>@post.WorkSpace</span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2"><i class="fas fa-map-marker-alt"></i></span>
                                        <span>@post?.Address?.City.Name</span>
                                    </div>
                                    <div class="my-3">
                                        @if (post.PostSkills.Any())
                            {

                                foreach (var t in post.PostSkills)
                                {
                                    //     <span class="badge p-2 rounded-pill bg-light border m-1">@t.Skill.Name</span>
                                }
                            }
                                    </div>

                                </div>
                                @if (post.IsHot)
                    {
                                    <div class="ilabel position-absolute bg-danger py-1 px-2 text-white rounded-left" style="top: 10px; right: 0;width: 100px;">
                                        <i class="fas fa-burn mr-2"></i>HOT
                                    </div>
                    }
                            </div>
            }
        }
      <!--


          <div class="w-100 text-center py-5">
              <a class="px-5 py-2 btn border-danger text-danger"><span>Xem Thêm 126 Công Việc Khác&nbsp;&nbsp;&nbsp;</span><i class="fas fa-chevron-right"></i></a>
          </div>
      -->
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            //$(".provice").multipleSelect({})
            /*
            $(".provice").select2({
                placeholder: "Tất Cả Tinh",
                theme: "bootstrap4",
                allowClear: true
            });

            */
            $(".provice").select2({
                placeholder: "Tất Cả Các Tỉnh",
                theme: "bootstrap4",

            });
            /**
             *
             *   setTimeout(()=> {
                $('.provice').val("10").select2({
                    placeholder: "Tất Cả Các Tỉnh",
                    theme: "bootstrap4",
                    allowClear: true

                });
            }, 2000)
             */
            $(".salary").select2({
                placeholder: "Chọn Lương",
                theme: "bootstrap4",
                minimumResultsForSearch: -1
            });

            const swiper = new Swiper('.swiper', {
                speed: 400,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                pagination: {
                    el: ".swiper-pagination",
                    dynamicBullets: true,
                },
                loop: true,

            });
            $('input:checkbox').each(function (index, el) {


                $(el).click(function (e) {
                    if ($(el).is(":checked")) {
                        console.log("checked")
                        $(el).addClass('selected');
                    } else {
                        console.log("unchecked")

                        $(el).removeClass('selected').prop('checked', false);
                    }
                })
            })

            $(".btn-reset-filter").click(function () {

                $('input:checkbox').each(function (index, el) {
                    $(el).removeClass('selected').prop('checked', false);
                })
                $(".salary").select2("val", "-1");
                console.log($('.salary'));
            });

        })

    </script>
}


<!--
      console.log($('input:checkbox'))
                console.log(this)
                console.log($('input.selected').length === 0)
                if ($('input.selected').length === 0) {
                    $('input.selected').parents("label").addClass("checked");
                }else {
                    $(this).parents("label").removeClass("checked");
                }
<div style="background: linear-gradient(269.85deg, #54151C 0%, #121212 54.89%)">
        <div class="container py-4">
            <h3 class="text-white">731 Việc làm IT cho Developer "Chất"</h3>
            <form class="d-flex py-5 justify-content-between align-content-between">
                <div class="">
                    <select class="myselect">
                        <option>Alabama</option>
                        <option>Alaska</option>
                        <option>Arizona</option>
                        <option>Arkansas</option>
                        <option>California</option>
                        <option>Colorado</option>
                        <option>Connecticut</option>
                    </select>

                </div>
                <div class="input-group mx-5">
                    <input type="text" class="form-control" id="query" placeholder="Nhập từ khoá theo kỹ năng, chức vụ, công ty">
                </div>
                <button type="submit" class="btn-lg btn-outline-danger px-lg-5 w-100"><i class="fa fa-search mr-2"></i>Tìm Kiếm</button>

            </form>

        </div>
    </div>


    <div class="row py-4 align-items-center">

                <div class="col-sm-2">
                    <select class="provice w-100" multiple="multiple">
                        <option></option>
                        <option>Arizona</option>
                        <option>Arkansas</option>
                        <option>California</option>
                        <option>Colorado</option>
                        <option>Connecticut</option>
                    </select>
                </div>

                <div class="col-sm-4">
                    <select class="provice w-100" multiple="multiple">
                        <option>Alabama</option>
                        <option>Alaska</option>
                        <option>Arizona</option>
                        <option>Arkansas</option>
                        <option>California</option>
                        <option>Colorado</option>
                        <option>Connecticut</option>
                    </select>
                </div>

                <div class="col-sm-2">
                    <select class="provice w-100" multiple="multiple">
                        <option>Alabama</option>
                        <option>Alaska</option>
                        <option>Arizona</option>
                        <option>Arkansas</option>
                        <option>California</option>
                        <option>Colorado</option>
                        <option>Connecticut</option>
                    </select>
                </div>

                <div class="col-sm-2">
                    <select class="provice w-100" multiple="multiple">
                        <option>Alabama</option>
                        <option>Alaska</option>
                        <option>Arizona</option>
                        <option>Arkansas</option>
                        <option>California</option>
                        <option>Colorado</option>
                        <option>Connecticut</option>
                    </select>
                </div>
                <div class="col-sm-2 w-100 btn btn-danger">
                    Áp Dụng
                </div>
            </div>
-->
