@model RecruitmentApp.Models.Post
@{
    ViewData["Title"] = "Edit";
    var list = @ViewData["list"] as MultiSelectList;
    var listLevel = @ViewData["listLevel"] as MultiSelectList;
    var listAddress = @ViewData["address"] as SelectList;
}
<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PostId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHot" /> @Html.DisplayNameFor(model => model.IsHot)
                </label>
            </div>
              <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsShow" /> @Html.DisplayNameFor(model => model.IsShow)
                </label>
            </div>  
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsClose" /> @Html.DisplayNameFor(model => model.IsClose)
                </label>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MinSalary" class="control-label"></label>
                        <input type="number" asp-for="MinSalary" class="form-control" />
                        <span asp-validation-for="MinSalary" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">

                    <div class="form-group">
                        <label asp-for="MaxSalary" class="control-label"></label>
                        <input type="number" asp-for="MaxSalary" class="form-control" />
                        <span asp-validation-for="MaxSalary" class="text-danger"></span>
                    </div>
                </div>
          
            </div>
            <div class="form-group">
                <label asp-for="Expired" class="control-label"></label>
                <input type="date" asp-for="Expired" class="form-control" />
                <span asp-validation-for="Expired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkSpace" class="control-label"></label>
                <select asp-for="WorkSpace" class="form-control">
                    <option value="Văn Phòng">Văn Phòng</option>
                    <option value="Từ Xa">Từ Xa</option>
                    <option value="Linh Hoạt">Linh Hoạt</option>
                </select>
                <span asp-validation-for="WorkSpace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressId" class="control-label"></label>
                <select class="form-control" asp-for="AddressId" asp-items="@listAddress">
                    <span asp-validation-for="AddressId" class="text-danger"></span>
                </select>
            </div>
            <div class="w-100">
                <label asp-for="SkillIds" class="control-label"></label>
                <select class="w-100" asp-for="SkillIds" asp-items="@list" multiple="multiple">
                    <span asp-validation-for="SkillIds" class="text-danger"></span>
                </select>
            </div>
            <div class="w-100">
                <label asp-for="LevelIds" class="control-label"></label>
                <select class="w-100" asp-for="LevelIds" asp-items="@listLevel" multiple="multiple">
                    <span asp-validation-for="LevelIds" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobRequirement" class="control-label"></label>
                <textarea asp-for="JobRequirement" class="form-control" rows="5"></textarea>
                <span asp-validation-for="JobRequirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Benifit" class="control-label"></label>
                <textarea asp-for="Benifit" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Benifit" class="text-danger"></span>
            </div>

         

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@{
    var summernote = new RecruitmentApp.Models.Summernote("#Description");
    var JobRequirement = new RecruitmentApp.Models.Summernote("#JobRequirement");
    var Benifit = new RecruitmentApp.Models.Summernote("#Benifit");
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#SkillIds").select2({
                placeholder: "Tất Cả Kĩ Năng",
                theme: "bootstrap4",
                allowClear: true
            });

            $("#LevelIds").select2({
                placeholder: "Tất Cả Level",
                theme: "bootstrap4",
                allowClear: true
            });
        })

    </script>
    <partial name="_Summernote" model="summernote" />
    <partial name="_Summernote" model="JobRequirement" />
    <partial name="_Summernote" model="Benifit" />
}

