@model IEnumerable<RecruitmentApp.Models.Post>
@{
    ViewData["Title"] = "Quản Lý Bài Tuyển Dụng";
}
<div class="d-flex justify-content-between align-items-center py-3 px-5 bg-light rounded-lg mb-3">
    <h2> @ViewData["Title"]</h2>
    <a class="btn btn-success px-4 text-white text-decoration-none" asp-action="Create"><i class="fas fa-plus-circle mr-2"></i>Tạo Mới</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewTotal)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
          
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewTotal)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            
            <td class="text-center">
                <a class="btn btn-sm border-primary" asp-action="Details" asp-route-id="@item.PostId"><i class="far fa-eye text-primary"></i></a>
                <a class="btn btn-sm border-warning" asp-action="Edit" asp-route-id="@item.PostId"><i class="fas fa-edit text-warning"></i></a>
                <a class="btn btn-sm border-danger" asp-action="Delete" asp-route-id="@item.PostId"><i class="fas fa-trash-alt text-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            new DataTable('.table').dataTable({
            });
        })

    </script>
}