@model ApplyPost
@{
    ViewData["Title"] = "Hồ sơ cá nhân";
}



<partial name="_StatusMessage" />

<div class="row p-3">
    <h3 class="ml-3 mb-4">@ViewData["Title"]</h3>
    <div class="col-md-12">
        <form id="profile-form" method="post" asp-action="UpdateCv" enctype="multipart/form-data">
            <input type="hidden" name="id" hidden class="form-control-file" id="id" value="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="select-sv d-block form-group border p-3 rounded d-flex align-items-center" >
                <i class="far fa-file-alt mr-4" style="font-size: 2rem;"></i>
                <div>
                    <h6>Tải lên CV của bạn<span class=""> (Mặt định)</span></h6>
                    <input type="file" name="file" hidden class="form-control-file" id="file">
                    <a href="~/contents/file-CV/@Model.FileName">@Model.OriginFileName</a>
                    <div>Date Upload: @Model.ApplyDate.ToString("dd/M/yyyy")</div>
                    <div>
                      
                        <label class="badge border p-2" for="file">Upload CV mới</label>
                        <small class="text-secondary">Hỗ trợ định dạng .doc .docx .pdf, không chứa mật khẩu bảo vệ, &#x3c; 3MB</small>
                    </div>
                   
                </div>
            </div>

            <div class="form-group">
                <label for="Description">Thư xin việc *</label>
                <br />
                <small>
                    Những kỹ năng, dự án hay thành tựu nào chứng tỏ bạn là một ứng viên tiềm năng cho vị trí ứng tuyển này?
                </small>
                <textarea required name="Description" id="Description" placeholder="Nêu nhiều ví dụ cụ thể để làm hồ sơ ứng tuyển của bạn thuyết phục hơn..." class="form-control" rows="5">@Model.Description</textarea>
                <small>
                    Tối đa 500 kí tự? (<span class="countDescription"></span> / 500) 
                </small>
            </div>

                <button id="submit" type="submit" class="btn btn-danger border-0 p-2 w-100 mt-3">Lưu</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            const textarea = $("textarea");
            const countDescription = $(".countDescription");
            countDescription.text(textarea.val().length);
            textarea.on("input", function () {
                countDescription.text(textarea.val().length);
                if (textarea.val().length >= 500) {
                    document.getElementById("submit").disabled = true;
                } else {
                    document.getElementById("submit").disabled = false;
                }
            })
        })
    </script>
}



