@model EditClaimModel

@{
    ViewData["Title"] = "Gán đặc tính cho role";
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Roles</li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<partial name="_StatusMessage" />

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="font-weight-bold">@ViewData["Title"]: <span class="text-primary">@Model.role.Name</span></h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="col-md-6">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="ClaimType" class="control-label"></label>
                            <input asp-for="ClaimType" class="form-control" />
                            <span asp-validation-for="ClaimType" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ClaimValue" class="control-label"></label>
                            <input asp-for="ClaimValue" class="form-control" />
                            <span asp-validation-for="ClaimValue" class="text-danger"></span>
                        </div>

                        <div class="form-group d-flex gap-2 mt-4">
                            <a asp-action="Edit" asp-route-roleid="@Model.role.Id" class="btn btn-outline-secondary d-inline-flex align-items-center mr-2">
                                <i data-feather="arrow-left" class="mr-1 icon-md"></i> Quay lại Role
                            </a>
                            
                            <button type="submit" class="btn btn-primary d-inline-flex align-items-center">
                                <i data-feather="plus" class="mr-1 icon-md"></i> Gán claim
                            </button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

