
@{
    var post = ViewData["post"] as Post;
}

<div class="flex-grow-1">
    <div class="jd-main position-relative">

        <div class="gradient-light-grey-background d-none d-xl-block"></div>
        <div class="icontainer">
            <div class="row im-0 ip-0">
                <div class="col-xl-8 im-0 ip-0">
                    <div class="imt-8 ipb-3 ipx-5 bg-it-white text-rich-grey w-100 job-show-header position-sticky" data-jobs--jd-scroll-target="jobHeader">
                        <div class="job-header-info">
                            <h1 class="ipt-xl-6 text-it-black">@post.Title</h1>
                            <div class="employer-name">@post.Company.FullName</div>
                            <div class="d-flex align-items-center fw-700 ifs-18">
                                <div class="d-flex align-items-center salary text-success-color">
                                    <svg fill="none" height="24" stroke="currentColor" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.0044 6V18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                        <path d="M14.9287 7.90332H10.5395C9.99625 7.90332 9.47527 8.11912 9.09114 8.50325C8.70701 8.88738 8.49121 9.40836 8.49121 9.9516C8.49121 10.4948 8.70701 11.0158 9.09114 11.4C9.47527 11.7841 9.99625 11.9999 10.5395 11.9999H13.4656C14.0088 11.9999 14.5298 12.2157 14.914 12.5998C15.2981 12.9839 15.5139 13.5049 15.5139 14.0482C15.5139 14.5914 15.2981 15.1124 14.914 15.4965C14.5298 15.8806 14.0088 16.0964 13.4656 16.0964H8.49121"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        stroke="currentColor"></path>
                                        <circle cx="12.0002" cy="12.0002" r="9.3" stroke-width="2" stroke="currentColor"></circle>
                                    </svg>

                                    <span class="ips-2 fw-500">You'll love it</span>
                                </div>
                            </div>
                        </div>
                        <div class="job-actions">
                            <div class="d-flex align-items-center justify-content-between">
                                <a class="ibtn ibtn-primary w-100 ibtn-md"
                                rel="nofollow"
                                href="/viec-lam-it/sw-security-engineer-cybersecurity-system-hardening-lg-electronics-development-vietnam-lgedv-1112/job_applications/new?utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page&amp;lab_feature=employer_job">
                                    Ứng tuyển
                                </a>
                                <div class="ims-4 text-it-red save-job-wrapper d-inline-flex align-items-center" id="519e0f82-1a4f-494b-aa9a-142ed96ce4b0">
                                    <a class="d-flex align-items-center d-none"
                                    href="/saved_jobs/sw-security-engineer-cybersecurity-system-hardening-lg-electronics-development-vietnam-lgedv-1112?locale=vi&amp;utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page"
                                    data-bs-original-title="Đã lưu">
                                        <i class="feather-icon icon-xl text-it-red fill" data-feather="heart"></i>
                                    </a>
                                    <a class="d-flex align-items-center"
                                    href="/saved_jobs?job_slug=sw-security-engineer-cybersecurity-system-hardening-lg-electronics-development-vietnam-lgedv-1112&amp;locale=vi&amp;utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page"
                                    data-bs-original-title="Lưu việc này">
                                        <i class="feather-icon icon-xl text-it-red" data-feather="heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ipy-3 ipx-5 bg-it-white text-rich-grey job-show-info box-shadow-medium">
                        <!-- Last updated: "2025-02-24 21:11:29 +0700"-->
                        <section class="jd-photos imt-1 imb-6">
                            <div class="slider-photos overflow-hidden">
                                <div class="d-grid align-items-center igap-1 photo-grid" data-controller="jobs--jd-photos" data-jobs--jd-photos-url-value="/companies/lg-electronics-development-vietnam-lgedv/jd_photos">
                                    <div class="col position-relative cursor-pointer">
                                        <picture data-action="click->jobs--jd-photos#open">
                                            <source srcset="~/images/sliders/@post.Company.LogoImage"
                                            media="(min-width:576px)"
                                            srcset="
                                                    https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOFNvSFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--2efe4b5b1b45b69fc5b46d0e03de758cf9c81616/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZmRHOWZabWxzYkZzSGFRSVVBV2tCdURvSlkzSnZjRnNKYVFCcEFHa0NGQUZwQWJnPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--d8a3eb368df546d7b32fdaac0e2c713bdc764d66/Pic%201.jpg
                                            " />
                                            <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOFNvSFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--2efe4b5b1b45b69fc5b46d0e03de758cf9c81616/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZmRHOWZabWxzYkZzSGFRR0dhVjQ2Q1dOeWIzQmJDV2tBYVFCcEFZWnBYZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d1779d22b72f6853b4577dd22c82404c6b0a3869/Pic%201.jpg"
                                            media="(max-width:575px)"
                                            srcset="
                                                    https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOFNvSFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--2efe4b5b1b45b69fc5b46d0e03de758cf9c81616/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBPZ2wzWldKd09oTnlaWE5wZW1WZmRHOWZabWxzYkZzSGFRR0dhVjQ2Q1dOeWIzQmJDV2tBYVFCcEFZWnBYZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d1779d22b72f6853b4577dd22c82404c6b0a3869/Pic%201.jpg
                                            " />
                                            <img class="border-radius-normal w-100 w-xl-auto ls-is-cached lazyloaded"
                                            data-controller="lazyload"
                                            data-index="0"
                                            data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOFNvSFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--2efe4b5b1b45b69fc5b46d0e03de758cf9c81616/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWhRQmFRRzRPZ2xqY205d1d3bHBBR2tBYVFJVUFXa0J1QT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--31ad030a4f0bfbe0b7ef2a3f041666e437907425/Pic%201.jpg"
                                            src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOFNvSFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--2efe4b5b1b45b69fc5b46d0e03de758cf9c81616/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWhRQmFRRzRPZ2xqY205d1d3bHBBR2tBYVFJVUFXa0J1QT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--31ad030a4f0bfbe0b7ef2a3f041666e437907425/Pic%201.jpg" />
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="imb-6">
                            <div class="d-flex flex-column gap-2">
                                <div class="d-inline-block text-dark-grey">
                                    <i class="feather-icon icon-sm align-middle me-1" data-feather="map-pin">
                                    </i>

                                    <span class="normal-text text-rich-grey">@string.Join(" - ", post.PostLocations.Select(l => l.Location.Address.FullAddress))</span>
                                    <a target="_blank"
                                    class="align-middle"
                                    href="https://www.google.com/maps?q=T%E1%BA%A7ng+17+%C4%91%E1%BA%BFn+t%E1%BA%A7ng+21%2C+T%C3%B2a+v%C4%83n+ph%C3%B2ng%2C+Lotte+Mall+H%C3%A0+N%E1%BB%99i%2C+S%E1%BB%91+272+V%C3%B5+Ch%C3%AD+C%C3%B4ng%2C+Ph%C6%B0%E1%BB%9Dng+Ph%C3%BA+Th%C6%B0%E1%BB%A3ng%2C+Qu%E1%BA%ADn+T%C3%A2y+H%E1%BB%93%2C+Th%C3%A0nh+ph%E1%BB%91+H%C3%A0+N%E1%BB%99i%2C+Tay+Ho%2C+Ha+Noi">
                                        <i class="feather-icon icon-sm hyperlink" data-feather="external-link">
                                        </i>
                                    </a>
                                </div>
                                <div class="d-inline-block text-dark-grey preview-header-item">
                                    <div class="d-flex align-items-center">
                                        <div class="imb-1 ime-1">
                                            <svg fill="none" height="16" viewBox="0 0 24 25" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_947_6633)">
                                                    <path d="M19 14.625C19 13.6967 18.6312 12.8065 17.9749 12.1501C17.3185 11.4937 16.4283 11.125 15.5 11.125H8.5C7.57174 11.125 6.6815 11.4937 6.02513 12.1501C5.36875 12.8065 5 13.6967 5 14.625"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="2"
                                                    stroke="currentColor"></path>
                                                    <path d="M12 8.5C13.933 8.5 15.5 6.933 15.5 5C15.5 3.067 13.933 1.5 12 1.5C10.067 1.5 8.5 3.067 8.5 5C8.5 6.933 10.067 8.5 12 8.5Z"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="2"
                                                    stroke="currentColor"></path>
                                                    <path d="M11.5 18.9375H12.5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
                                                    <path d="M4.56116 22.7812L2.90039 15.0938H21.0996L19.3696 22.7812" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
                                                    <line stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" x1="1" x2="23" y1="23.5" y2="23.5"></line>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_947_6633">
                                                        <rect fill="white" height="24" transform="translate(0 0.5)" width="24"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <span class="normal-text text-rich-grey ms-1">@post.WorkSpace</span>
                                    </div>
                                </div>
                                <div class="d-inline-block text-dark-grey preview-header-item">
                                    <i class="feather-icon icon-sm align-middle me-1 imb-1" data-feather="clock">
                                    </i>

                                    <span class="normal-text text-rich-grey">
										@TimeFormatter.GetTimeAgo(post.CreatedAt)
                                    </span>
                                </div>
                                <div class="imt-2">
                                    <span class="ime-3 small-text text-rich-grey">Kỹ năng:</span>

                                    @foreach(var skill in post.PostSkills.Select(s => s.Skill)) {
                                        <a class="text-reset" data-controller="utm-tracking" href="/viec-lam-it/security-?utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page&amp;click_source=Skill+tag">
                                            <div class="itag itag-light itag-sm">
                                                @skill.Name
                                            </div>
                                        </a>
                                    }
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="job-content imt-5 ipy-3 ipx-5 bg-it-white box-shadow-medium border-radius-large-md text-it-black" data-jobs--jd-scroll-target="jobContent">
                        <div class="imy-3 paragraph">
                            <h2>3 Lý do để gia nhập công ty</h2>
                            @Html.Raw(post.TopReason)
                        </div>
                        <div class="border-bottom-dashed"></div>
                        <div class="imy-5 paragraph">
                            <h2>Mô tả công việc</h2>
                            @Html.Raw(post.Description)
                        </div>
                        <div class="border-bottom-dashed"></div>
                        <div class="imy-5 paragraph">
                            <h2>Yêu cầu công việc</h2>
                            @Html.Raw(post.JobRequirement)
                    </section>
                </div>
                <div class="col-xl-4 im-0 ip-0 ips-xl-6">
                    <section class="imt-8 ipy-6 ipx-5 bg-it-white box-shadow-medium border-radius-large-md text-rich-grey job-show-employer-info">
                        <!-- Last updated: "2025-02-24 21:11:30 +0700"-->
                        <div class="d-flex flex-column flex-xl-row align-items-center align-items-xl-start text-center text-xl-start">
                            <a data-controller="utm-tracking" href="/nha-tuyen-dung/lg-electronics-development-vietnam-lgedv?utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page">
                                <picture>
                                    <source data-srcset="~/images/sliders/@post.Company.LogoImage"
                                            srcset="~/images/companies/@post.Company.LogoImage" />
                                    <img alt="@post.Company.FullName"
                                         class="border border-radius-normal employer-logo ls-is-cached lazyloaded"
                                         height="120"
                                         width="120"
                                         src="~/images/sliders/@post.Company.LogoImage" />
                                </picture>
                            </a>
                            <div class="ips-xl-3">
                                <h3 class="ipt-3 ipt-xl-1 ipb-1 ipb-xl-0 text-it-black text-clamp-3">
                                    @post.Company.Name
                                </h3>
                                <a asp-area="User/Companies" asp-controller="Company" asp-action="Detail" asp-route-slug="@post.Company.Slug" class="hyperlink">
                                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                                        <span>Xem công ty</span>
                                        <span class="ims-2 lh-1">
                                            <i data-feather="external-link" class="feather-icon icon-sm">
                                            </i>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="imt-5">
                            <p>  @post.Company.FullName</p>
                        </div>
                        <div class="imt-4">
                            <div class="row ipy-2 gx-0 border-bottom-dashed">
                                <div class="col text-dark-grey">
                                    Mô hình công ty
                                </div>
                                <div class="col text-end text-it-black">
                                    @post.Company.Type
                                </div>
                            </div>
                            <div class="row ipy-2 gx-0 border-bottom-dashed">
                                <div class="col text-dark-grey">
                                    Lĩnh vực công ty
                                </div>
                                <div class="col text-end text-it-black text-wrap-desktop">
                                    <div class="flex-1 ips-2 ips-md-0">
                                        <div class="d-inline-flex">
                                           @string.Join(" - ", post.Company.CompanyIndustries.Select(l => l.Industry.Name))
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ipy-2 gx-0 border-bottom-dashed">
                                <div class="col text-dark-grey">
                                    Quy mô công ty
                                </div>
                                <div class="col text-end text-it-black">
                                    @post.Company.Size
                                </div>
                            </div>
                            <div class="row ipy-2 gx-0 border-bottom-dashed">
                                <div class="col text-dark-grey">
                                    Quốc gia
                                </div>
                                <div class="col text-end text-it-black">
                                    <div class="d-inline-block">
                                        <i class="feather-icon align-middle ime-1 flag-icon icon-md" data-feather="kr-flag"></i><span class="align-middle">South Korea</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row ipy-2 gx-0 border-bottom-dashed">
                                <div class="col text-dark-grey">
                                    Thời gian làm việc
                                </div>
                                <div class="col text-end text-it-black">
                                    @post.Company.WorkingTime
                                </div>
                            </div>
                            <div class="row ipy-2">
                                <div class="col text-dark-grey">
                                    Làm việc ngoài giờ
                                </div>
                                <div class="col text-end text-it-black">
                                    @post.Company.OverTime
                                </div>
                            </div>
                        </div>
                        <div class="position-relative text-center vbit-badge imt-4 imt-xl-0">
                            <a target="_blank" rel="nofollow" data-controller="utm-tracking" href="https://itviec.com/cong-ty-it-tot-nhat-vietnam?utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page">
                                <img width="300"
                                     src="https://itviec.com/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOStVUUE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--08fb7099f004d87382b01970c32d99ed32534658/Logo%20VBIT%202024-03_shadow%20(1).png" />
                            </a>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row imt-xl-6 ipb-16 imx-0 imt-20">
                <div class="col-xl-8 ipx-0">
                    <h2 class="imb-6 ipx-5 ipx-xl-0">Việc làm tương tự dành cho bạn</h2>
                    <div class="ipy-6 ipx-4 imb-5 imx-5 imx-xl-0 bg-it-white box-shadow-medium border-radius-large">
                        <div class="d-flex justify-content-between align-items-center flex-column flex-xl-row">
                            <span class="imb-4 imb-xl-0 text-center">Nhận các việc làm tương tự qua email binh15122003@gmail.com</span>
                            <div data-controller="subscriptions--create" novalidate="novalidate">
                                <form data-action="ajax:success->subscriptions--create#success2 ajax:error->subscriptions--create#error2"
                                      class="button_to"
                                      method="post"
                                      action="/subscriptions?job_id=sw-security-engineer-cybersecurity-system-hardening-lg-electronics-development-vietnam-lgedv-1112&amp;locale=vi&amp;source=jdpage_bottomslidein&amp;utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page"
                                      data-remote="true">
                                    <button class="ibtn ibtn-sm ibtn-secondary" data-bs-target="#subscription-modal" data-bs-toggle="modal" type="submit">
                                        <svg class="feather-icon icon-md">
                                            <use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#bell"></use>
                                        </svg>

                                        <span>Nhận thông báo</span>
                                    </button>
                                    <input type="hidden" name="authenticity_token" value="dHrjtXi6B78WEQFqJXxRMJbQCXb1uUwJXXhgJqML9T1hnPZ5JoBjT6or6asHALhDnRwjisKl4WBlKXTwzqc_rg" autocomplete="off" />
                                </form>

                                <div aria-hidden="true" class="modal fade" data-subscriptions--create-target="modal" id="subscription-modal" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered imodal-default-width">
                                        <div class="modal-content" data-subscriptions--create-target="modalContent"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row relative-jobs"
                         data-controller="recommended-impressions"
                         data-recommended-impressions-current-page-value="jd_page"
                         data-recommended-impressions-job-quantity-value="8"
                         data-recommended-impressions-url-value="/job/recommended_impressions">
                        <div class="col-12 col-xl-6 ipx-0 ipy-2 ip-xl-3">
                            <div class="job-card ipt-4 h-100 d-flex flex-column box-shadow-medium border-radius-large position-relative cursor-pointer transition-duration-300 bg-white">
                                <div class="ipx-4 ipx-xl-3 flex-grow-1">
                                    <div class="ilabel position-absolute ilabel-warning end-0">
                                        HOT
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="small-text text-dark-grey">
                                            Đăng 2 ngày trước
                                        </span>
                                    </div>
                                    <h3 class="imt-3 text-it-black text-break text-clamp-2">
                                        <a class="text-reset text-hover-red transition-duration-300 stretched-link"
                                           target="_blank"
                                           data-controller="utm-tracking"
                                           href="/viec-lam-it/security-engineer-python-sql-techcom-securities-1925?utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page&amp;lab_feature=similar_job">
                                            Security Engineer (Python, SQL)
                                        </a>
                                    </h3>
                                    <div class="imy-2 d-flex align-items-center" data-recommended-impressions-target="jobImpression">
                                        <a data-controller="utm-tracking"
                                           class="job-card-logo border-solid box-shadow-normal border-radius-normal bg-white stretched-link position-relative"
                                           aria-label="Techcom Securities Profile"
                                           href="/nha-tuyen-dung/techcom-securities?utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page&amp;lab_feature=similar_job">
                                            <picture>
                                                <source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMFFwREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--39d5a7b8326e3a5f1c387eca35edcd77eb78d4aa/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/techcom-securities-logo.png"
                                                        srcset="
                                                        https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMFFwREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--39d5a7b8326e3a5f1c387eca35edcd77eb78d4aa/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/techcom-securities-logo.png
                                                    " />
                                                <img alt="Techcom Securities Vietnam Small Logo"
                                                     class="h-100 ls-is-cached lazyloaded"
                                                     data-controller="lazyload"
                                                     data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMFFwREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--39d5a7b8326e3a5f1c387eca35edcd77eb78d4aa/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/techcom-securities-logo.png"
                                                     width="48"
                                                     src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMFFwREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--39d5a7b8326e3a5f1c387eca35edcd77eb78d4aa/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/techcom-securities-logo.png" />
                                            </picture>
                                        </a>
                                        <span class="ims-2 small-text">
                                            <a data-controller="utm-tracking"
                                               class="text-rich-grey text-clamp-2 text-hover-underline stretched-link position-relative"
                                               href="/nha-tuyen-dung/techcom-securities?utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page&amp;lab_feature=similar_job">
                                                Techcom Securities
                                            </a>
                                        </span>
                                    </div>
                                    <div class="fw-500">
                                        <div class="d-flex align-items-center salary text-success-color">
                                            <svg fill="none" height="16" stroke="currentColor" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12.0044 6V18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                                <path d="M14.9287 7.90332H10.5395C9.99625 7.90332 9.47527 8.11912 9.09114 8.50325C8.70701 8.88738 8.49121 9.40836 8.49121 9.9516C8.49121 10.4948 8.70701 11.0158 9.09114 11.4C9.47527 11.7841 9.99625 11.9999 10.5395 11.9999H13.4656C14.0088 11.9999 14.5298 12.2157 14.914 12.5998C15.2981 12.9839 15.5139 13.5049 15.5139 14.0482C15.5139 14.5914 15.2981 15.1124 14.914 15.4965C14.5298 15.8806 14.0088 16.0964 13.4656 16.0964H8.49121"
                                                      stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      stroke-width="2"
                                                      stroke="currentColor"></path>
                                                <circle cx="12.0002" cy="12.0002" r="9.3" stroke-width="2" stroke="currentColor"></circle>
                                            </svg>

                                            <span class="ips-2 fw-500">You'll love it</span>
                                        </div>
                                    </div>
                                    <div class="border-top-dashed imy-3"></div>
                                    <div class="d-flex align-items-end imb-1">
                                        <span class="text-dark-grey lh-1">
                                            <svg fill="none" height="16" viewBox="0 0 24 25" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_947_6633)">
                                                    <path d="M19 14.625C19 13.6967 18.6312 12.8065 17.9749 12.1501C17.3185 11.4937 16.4283 11.125 15.5 11.125H8.5C7.57174 11.125 6.6815 11.4937 6.02513 12.1501C5.36875 12.8065 5 13.6967 5 14.625"
                                                          stroke-linecap="round"
                                                          stroke-linejoin="round"
                                                          stroke-width="2"
                                                          stroke="currentColor"></path>
                                                    <path d="M12 8.5C13.933 8.5 15.5 6.933 15.5 5C15.5 3.067 13.933 1.5 12 1.5C10.067 1.5 8.5 3.067 8.5 5C8.5 6.933 10.067 8.5 12 8.5Z"
                                                          stroke-linecap="round"
                                                          stroke-linejoin="round"
                                                          stroke-width="2"
                                                          stroke="currentColor"></path>
                                                    <path d="M11.5 18.9375H12.5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
                                                    <path d="M4.56116 22.7812L2.90039 15.0938H21.0996L19.3696 22.7812" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
                                                    <line stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" x1="1" x2="23" y1="23.5" y2="23.5"></line>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_947_6633">
                                                        <rect fill="white" height="24" transform="translate(0 0.5)" width="24"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                        <span class="ips-2 small-text text-rich-grey lh-1">
                                            Tại văn phòng
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="text-dark-grey lh-1">
                                            <svg class="feather-icon icon-sm">
                                                <use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#map-pin"></use>
                                            </svg>
                                        </span>
                                        <span class="ips-2 small-text text-rich-grey">
                                            Hà Nội
                                        </span>
                                    </div>
                                    <div class="d-flex flex-wrap imt-3 imb-5 igap-2">
                                        <div class="itag itag-light itag-sm position-relative">
                                            <a class="text-reset stretched-link"
                                               data-controller="utm-tracking"
                                               href="/viec-lam-it/security-?utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page&amp;click_source=Skill+tag">
                                                Security
                                            </a>
                                        </div>
                                        <div class="itag itag-light itag-sm position-relative">
                                            <a class="text-reset stretched-link"
                                               data-controller="utm-tracking"
                                               href="/viec-lam-it/python?utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page&amp;click_source=Skill+tag">
                                                Python
                                            </a>
                                        </div>
                                        <div class="itag itag-light itag-sm position-relative">
                                            <a class="text-reset stretched-link"
                                               data-controller="utm-tracking"
                                               href="/viec-lam-it/sql?utm_campaign=button_feature_review&amp;utm_medium=new_review&amp;utm_source=emp_page&amp;click_source=Skill+tag">
                                                SQL
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
